Repository okta/okta-developer-docs, pull requests merged in 2019-11, with the labels that each got.

#796 Rn entry 2019.11.0
  packages/@okta/vuepress-site/docs/release-notes/2019-11-0/index.md
Labels: docs release

#795 GA SAML and Token Inline Hook
  packages/@okta/vuepress-site/docs/concepts/saml/index.md
  packages/@okta/vuepress-site/docs/guides/build-provisioning-integration/test-scim-server/index.md
  packages/@okta/vuepress-site/docs/guides/build-sso-integration/integrate/index.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/reference/saml-hook/index.md
  packages/@okta/vuepress-site/docs/reference/token-hook/index.md
Labels: docs release

#788 add doc for POST /api/v1/users/me endpoint
  packages/@okta/vuepress-site/docs/reference/api/users/index.md
Labels: docs release

#783 Removing Features API EA tag
  packages/@okta/vuepress-site/docs/reference/api/features/index.md
Labels: docs release

#776 Document WebAuthn factor for AuthN and Factors API
  packages/@okta/vuepress-site/docs/reference/api/authn/index.md
  packages/@okta/vuepress-site/docs/reference/api/factors/index.md
Labels: docs release

#700 new oauth for okta apis
  packages/@okta/vuepress-site/code/rest/index.md
  packages/@okta/vuepress-site/docs/guides/create-an-api-token/overview/index.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/guides/oauth-for-okta/create-oauth-app/index.md
  packages/@okta/vuepress-site/docs/guides/oauth-for-okta/define-allowed-scopes/index.md
  packages/@okta/vuepress-site/docs/guides/oauth-for-okta/get-access-token-using-service-app/index.md
  packages/@okta/vuepress-site/docs/guides/oauth-for-okta/index.md
  packages/@okta/vuepress-site/docs/guides/oauth-for-okta/overview/index.md
  packages/@okta/vuepress-site/docs/guides/oauth-for-okta/request-access-token/index.md
  packages/@okta/vuepress-site/docs/guides/oauth-for-okta/save-access-token/index.md
  packages/@okta/vuepress-site/docs/guides/oauth-for-okta/scopes/index.md
  packages/@okta/vuepress-site/docs/guides/oauth-for-okta/use-client-credentials-grant-flow/index.md
  packages/@okta/vuepress-site/docs/reference/api-overview/index.md
Labels: docs release, guides

#804 Updating create an auth server content
  packages/@okta/vuepress-site/docs/guides/customize-authz-server/create-access-policies/index.md
  packages/@okta/vuepress-site/docs/guides/customize-authz-server/create-authz-server/index.md
  packages/@okta/vuepress-site/docs/guides/customize-authz-server/create-claims/index.md
  packages/@okta/vuepress-site/docs/guides/customize-authz-server/create-rules-for-policy/index.md
  packages/@okta/vuepress-site/docs/guides/customize-authz-server/create-scopes/index.md
  packages/@okta/vuepress-site/docs/guides/customize-authz-server/overview/index.md
  packages/@okta/vuepress-site/docs/guides/customize-authz-server/test-authz-server/index.md
  packages/@okta/vuepress-site/docs/reference/api/oidc/index.md
Labels: guides
