Repository okta/okta-developer-docs, pull requests merged in 2019-04, with the labels that each got.

#177 GA IDP_EXTENSIBLE_MATCHING_RULES
  packages/@okta/vuepress-site/docs/api/resources/idps/index.md
Labels: docs release

#168 Event Hooks Overview
  packages/@okta/vuepress-site/use_cases/event_hooks/index.md
Labels: docs release

#150 Py okta 217213 new oauth2 rate limits second try
  packages/@okta/vuepress-site/docs/api/getting_started/rate-limits/index.md
Labels: docs release

#135 SAML Assertion Inline Hook doc
  packages/@okta/vuepress-site/docs/api/resources/inline-hooks/index.md
  packages/@okta/vuepress-site/use_cases/inline_hooks/index.md
  packages/@okta/vuepress-site/use_cases/inline_hooks/saml_hook/saml_hook/index.md
Labels: docs release

#100 Increase enterprise limit for apps api
  packages/@okta/vuepress-site/docs/api/getting_started/rate-limits/index.md
Labels: docs release

#199 Guides section titles
  packages/@okta/vuepress-site/guides/protect-your-api/before-you-begin/index.md
  packages/@okta/vuepress-site/guides/protect-your-api/configure-cors/index.md
  packages/@okta/vuepress-site/guides/protect-your-api/configure-packages/index.md
  packages/@okta/vuepress-site/guides/protect-your-api/next-steps/index.md
  packages/@okta/vuepress-site/guides/protect-your-api/require-authentication/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/before-you-begin/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/check-for-tokens/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/configure-packages/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/configure-the-callback/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/create-an-okta-application/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/get-user-info/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/next-steps/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/sign-in-page/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/use-access-token/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/configure-the-sdk/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/create-okta-application/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/define-login-redirect/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/handle-callback/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/install-sdk/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/login-logout-buttons/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/okta-config/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/require-authentication/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/use-the-access-token/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/user-info/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/before-you-begin/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/create-okta-application/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/get-user-info/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/next-steps/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/redirect-to-sign-in/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/index.md
  packages/@okta/vuepress-site/guides/sign-users-out/before-you-begin/index.md
  packages/@okta/vuepress-site/guides/sign-users-out/sign-out-of-okta/index.md
  packages/@okta/vuepress-site/guides/sign-users-out/sign-out-of-your-app/index.md
  packages/@okta/vuepress-theme-default/components/GuideDetails.vue
Labels: guides

#198 Guides next section button
  README.md
  packages/@okta/vuepress-site/guides/protect-your-api/before-you-begin/index.md
  packages/@okta/vuepress-site/guides/protect-your-api/configure-cors/index.md
  packages/@okta/vuepress-site/guides/protect-your-api/configure-packages/index.md
  packages/@okta/vuepress-site/guides/protect-your-api/require-authentication/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/before-you-begin/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/check-for-tokens/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/configure-packages/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/configure-the-callback/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/create-an-okta-application/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/get-user-info/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/sign-in-page/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/use-access-token/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/before-you-begin/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/configure-the-sdk/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/create-okta-application/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/define-login-redirect/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/handle-callback/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/install-sdk/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/login-logout-buttons/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/okta-config/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/require-authentication/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/user-info/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/before-you-begin/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/create-okta-application/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/get-user-info/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/redirect-to-sign-in/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/index.md
  packages/@okta/vuepress-site/guides/sign-users-out/before-you-begin/index.md
  packages/@okta/vuepress-site/guides/sign-users-out/sign-out-of-your-app/index.md
  packages/@okta/vuepress-theme-default/assets/css/okta/pages/guides.scss
  packages/@okta/vuepress-theme-default/components/NextSectionLink.vue
  packages/@okta/vuepress-theme-default/components/StackSelector.vue
  packages/@okta/vuepress-theme-default/enhanceApp.js
Labels: guides

#173 CSS file cleanup
  README.md
  packages/@okta/vuepress-theme-default/.stylelintrc
  packages/@okta/vuepress-theme-default/README.md
  packages/@okta/vuepress-theme-default/assets/css/event-types.scss
  packages/@okta/vuepress-theme-default/assets/css/font-awesome/animated.scss
  packages/@okta/vuepress-theme-default/assets/css/font-awesome/bordered-pulled.scss
  packages/@okta/vuepress-theme-default/assets/css/font-awesome/core.scss
  packages/@okta/vuepress-theme-default/assets/css/font-awesome/fixed-width.scss
  packages/@okta/vuepress-theme-default/assets/css/font-awesome/font-awesome.css
  packages/@okta/vuepress-theme-default/assets/css/font-awesome/font-awesome.css.map
  packages/@okta/vuepress-theme-default/assets/css/font-awesome/font-awesome.scss
  packages/@okta/vuepress-theme-default/assets/css/font-awesome/icons.scss
  packages/@okta/vuepress-theme-default/assets/css/font-awesome/larger.scss
  packages/@okta/vuepress-theme-default/assets/css/font-awesome/list.scss
  packages/@okta/vuepress-theme-default/assets/css/font-awesome/mixins.scss
  packages/@okta/vuepress-theme-default/assets/css/font-awesome/path.scss
  packages/@okta/vuepress-theme-default/assets/css/font-awesome/rotated-flipped.scss
  packages/@okta/vuepress-theme-default/assets/css/font-awesome/stacked.scss
  packages/@okta/vuepress-theme-default/assets/css/font-awesome/variables.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/.keep
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/base.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/base/functions.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/base/include-media.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/base/mixins.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/base/variables.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/components.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/components/forms/buttons.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/components/forms/forms.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/components/icons.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/components/layout/grid.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/components/layout/layout.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/components/layout/normalize.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/components/layout/pacNav.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/components/layout/responsive.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/components/layout/responsiveRatio.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/components/typography/colors.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/components/typography/hr.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/components/typography/tables.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/components/typography/typography.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/fabric.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/forms.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/layout.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/_/typography.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/master.css
  packages/@okta/vuepress-theme-default/assets/css/legacy/mixins.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/page-search.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/variables.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/vendors-ext/highlight.scss
  packages/@okta/vuepress-theme-default/assets/css/legacy/vendors/animate.css
  packages/@okta/vuepress-theme-default/assets/css/legacy/vendors/asciidoctor.css
  packages/@okta/vuepress-theme-default/assets/css/okta.scss
  packages/@okta/vuepress-theme-default/assets/css/okta/base/variables.scss
  packages/@okta/vuepress-theme-default/global-components/EventTypes.vue
  packages/@okta/vuepress-theme-default/package.json
  yarn.lock
Labels: enhancement

#201 SPA guide final draft 2
  packages/@okta/vuepress-site/guides/sign-into-spa/add-signin-button/angular/login-redirect.md
  packages/@okta/vuepress-site/guides/sign-into-spa/add-signin-button/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/add-signin-button/react/login-redirect.md
  packages/@okta/vuepress-site/guides/sign-into-spa/before-you-begin/angular/create-app.md
  packages/@okta/vuepress-site/guides/sign-into-spa/before-you-begin/angular/samples.md
  packages/@okta/vuepress-site/guides/sign-into-spa/before-you-begin/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/before-you-begin/react/create-app.md
  packages/@okta/vuepress-site/guides/sign-into-spa/before-you-begin/react/samples.md
  packages/@okta/vuepress-site/guides/sign-into-spa/before-you-begin/vue/create-app.md
  packages/@okta/vuepress-site/guides/sign-into-spa/before-you-begin/vue/samples.md
  packages/@okta/vuepress-site/guides/sign-into-spa/configure-the-sdk/angular/config.md
  packages/@okta/vuepress-site/guides/sign-into-spa/configure-the-sdk/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/configure-the-sdk/react/config.md
  packages/@okta/vuepress-site/guides/sign-into-spa/configure-the-sdk/vue/config.md
  packages/@okta/vuepress-site/guides/sign-into-spa/create-okta-application/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/define-callback/angular/define-route.md
  packages/@okta/vuepress-site/guides/sign-into-spa/define-callback/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/define-callback/react/define-route.md
  packages/@okta/vuepress-site/guides/sign-into-spa/define-login-redirect/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/handle-callback/angular/handle-callback.md
  packages/@okta/vuepress-site/guides/sign-into-spa/handle-callback/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/handle-callback/react/handle-callback.md
  packages/@okta/vuepress-site/guides/sign-into-spa/handle-callback/vue/handle-callback.md
  packages/@okta/vuepress-site/guides/sign-into-spa/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/install-sdk/angular/installsdk.md
  packages/@okta/vuepress-site/guides/sign-into-spa/install-sdk/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/install-sdk/react/installsdk.md
  packages/@okta/vuepress-site/guides/sign-into-spa/install-sdk/vue/installsdk.md
  packages/@okta/vuepress-site/guides/sign-into-spa/login-logout-buttons/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/login-logout-buttons/vue/login-redirect.md
  packages/@okta/vuepress-site/guides/sign-into-spa/next-steps/angular/samples.md
  packages/@okta/vuepress-site/guides/sign-into-spa/next-steps/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/next-steps/react/samples.md
  packages/@okta/vuepress-site/guides/sign-into-spa/okta-config/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/require-authentication/angular/allowanon.md
  packages/@okta/vuepress-site/guides/sign-into-spa/require-authentication/angular/reqautheverything.md
  packages/@okta/vuepress-site/guides/sign-into-spa/require-authentication/angular/reqauthspecific.md
  packages/@okta/vuepress-site/guides/sign-into-spa/require-authentication/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/require-authentication/react/allowanon.md
  packages/@okta/vuepress-site/guides/sign-into-spa/require-authentication/react/reqautheverything.md
  packages/@okta/vuepress-site/guides/sign-into-spa/require-authentication/react/reqauthspecific.md
  packages/@okta/vuepress-site/guides/sign-into-spa/require-authentication/vue/allowanon.md
  packages/@okta/vuepress-site/guides/sign-into-spa/require-authentication/vue/reqautheverything.md
  packages/@okta/vuepress-site/guides/sign-into-spa/require-authentication/vue/reqauthspecific.md
  packages/@okta/vuepress-site/guides/sign-into-spa/use-the-access-token/angular/getaccesstoken.md
  packages/@okta/vuepress-site/guides/sign-into-spa/use-the-access-token/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/use-the-access-token/react/getaccesstoken.md
  packages/@okta/vuepress-site/guides/sign-into-spa/use-the-access-token/vue/getaccesstoken.md
  packages/@okta/vuepress-site/guides/sign-into-spa/user-info/angular/getuserinfo.md
  packages/@okta/vuepress-site/guides/sign-into-spa/user-info/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/user-info/react/getuserinfo.md
  packages/@okta/vuepress-site/guides/sign-into-spa/user-info/vue/getuserinfo.md
  yarn.lock
Labels: guides

#208 Small wording fixes
  packages/@okta/vuepress-site/guides/index.md
  packages/@okta/vuepress-site/guides/sign-into-spa/before-you-begin/index.md
  packages/@okta/vuepress-theme-default/components/GuidesNavigation.vue
  packages/@okta/vuepress-theme-default/components/GuidesOverview.vue
Labels: guides

#210 Guides nav width
  packages/@okta/vuepress-theme-default/assets/css/okta/pages/guides.scss
Labels: guides

#205 Add .NET content in guides
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/add-signin-button/aspnet/login-redirect.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/add-signin-button/aspnetcore/login-redirect.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/add-signin-button/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/before-you-begin/aspnet/create-app.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/before-you-begin/aspnetcore/create-app.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/before-you-begin/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/before-you-begin/java/create-app.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/before-you-begin/java/samples.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/before-you-begin/net/create-app.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/before-you-begin/net/samples.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/before-you-begin/netcore/create-app.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/before-you-begin/netcore/samples.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/before-you-begin/node/create-app.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/aspnet/addconfigpkg.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/aspnet/configmid.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/aspnetcore/addconfigpkg.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/aspnetcore/configmid.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/net/addconfigpkg.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/net/configdep.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/net/configmid.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/netcore/addconfigpkg.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/netcore/configdep.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/netcore/configmid.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/create-okta-application/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/define-callback-route/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/get-user-info/aspnet/getuserinfo.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/get-user-info/aspnetcore/getuserinfo.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/get-user-info/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/get-user-info/net/getuserinfo.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/get-user-info/netcore/getuserinfo.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/next-steps/aspnet/samples.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/next-steps/aspnetcore/samples.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/next-steps/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/redirect-to-sign-in/aspnet/redirect.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/redirect-to-sign-in/aspnetcore/redirect.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/redirect-to-sign-in/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/redirect-to-sign-in/net/redirect.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/redirect-to-sign-in/netcore/redirect.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/aspnet/reqautheverything.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/aspnet/reqauthspecific.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/aspnetcore/reqautheverything.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/aspnetcore/reqauthspecific.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/index.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/net/allowanon.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/net/reqautheverything.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/net/reqauthspecific.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/netcore/allowanon.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/netcore/reqautheverything.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/netcore/reqauthspecific.md
  packages/@okta/vuepress-theme-default/util/frameworks.js
Labels: guides

#231 Add Andoid specific content
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/before-you-begin/android/create-app.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/check-for-tokens/android/checkfortoken.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/check-for-tokens/index.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/configure-packages/android/configuremid.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/configure-packages/android/installsdk.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/configure-the-callback/android/configurescheme.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/get-user-info/android/getinfo.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/sign-in-page/android/signin.md
  packages/@okta/vuepress-site/guides/sign-into-mobile-app/use-access-token/android/usetoken.md
Labels: guides

#229 Removed the method property from the channel config in the request body
  packages/@okta/vuepress-site/.vuepress/public/docs/api/postman/inline-hooks.json
  packages/@okta/vuepress-site/docs/api/resources/inline-hooks/index.md
  packages/@okta/vuepress-site/reference/postman_collections/index.md
Labels: docs release

#193 Add Event Hooks API Doc
  packages/@okta/vuepress-site/.vuepress/nav/main.js
  packages/@okta/vuepress-site/docs/api/resources/event-hooks/index.md
  packages/@okta/vuepress-site/docs/api/resources/inline-hooks/index.md
Labels: docs release

#232 Add springboot guides
  packages/@okta/vuepress-site/guides/protect-your-api/before-you-begin/java/create-app.md
  packages/@okta/vuepress-site/guides/protect-your-api/before-you-begin/springboot/create-app.md
  packages/@okta/vuepress-site/guides/protect-your-api/configure-cors/java/configcors.md
  packages/@okta/vuepress-site/guides/protect-your-api/configure-cors/springboot/configcors.md
  packages/@okta/vuepress-site/guides/protect-your-api/configure-packages/index.md
  packages/@okta/vuepress-site/guides/protect-your-api/configure-packages/java/configmid.md
  packages/@okta/vuepress-site/guides/protect-your-api/configure-packages/java/independ.md
  packages/@okta/vuepress-site/guides/protect-your-api/configure-packages/springboot/configmid.md
  packages/@okta/vuepress-site/guides/protect-your-api/configure-packages/springboot/independ.md
  packages/@okta/vuepress-site/guides/protect-your-api/next-steps/java/samples.md
  packages/@okta/vuepress-site/guides/protect-your-api/next-steps/springboot/samples.md
  packages/@okta/vuepress-site/guides/protect-your-api/require-authentication/java/reqautheverything.md
  packages/@okta/vuepress-site/guides/protect-your-api/require-authentication/java/reqauthspecific.md
  packages/@okta/vuepress-site/guides/protect-your-api/require-authentication/springboot/reqautheverything.md
  packages/@okta/vuepress-site/guides/protect-your-api/require-authentication/springboot/reqauthspecific.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/add-signin-button/springboot/login-redirect.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/before-you-begin/java/create-app.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/before-you-begin/springboot/create-app.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/java/addconfigpkg.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/java/configdep.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/java/configmid.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/springboot/addconfigpkg.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/springboot/configdep.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/configure-packages/springboot/configmid.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/get-user-info/java/getuserinfo.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/get-user-info/springboot/getuserinfo.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/next-steps/springboot/samples.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/redirect-to-sign-in/java/redirect.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/redirect-to-sign-in/springboot/redirect.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/java/allowanon.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/java/reqautheverything.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/java/reqauthspecific.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/springboot/allowanon.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/springboot/reqautheverything.md
  packages/@okta/vuepress-site/guides/sign-into-your-web-app/require-authentication/springboot/reqauthspecific.md
  packages/@okta/vuepress-site/guides/sign-users-out/sign-out-of-okta/java/remotesignout.md
  packages/@okta/vuepress-site/guides/sign-users-out/sign-out-of-okta/springboot/remotesignout.md
  packages/@okta/vuepress-site/guides/sign-users-out/sign-out-of-your-app/java/localsignout.md
  packages/@okta/vuepress-site/guides/sign-users-out/sign-out-of-your-app/springboot/localsignout.md
  packages/@okta/vuepress-theme-default/util/frameworks.js
Labels: guides

#273 Change log entry for 2019.04.2
  packages/@okta/vuepress-site/docs/change-log/2019-04-2/index.md
Labels: docs release
