Repository okta/okta-developer-docs, pull requests merged in 2019-05, with the labels that each got.

#244 Update rate limit docs to reflect new bucket for factors/verify
  packages/@okta/vuepress-site/docs/api/getting_started/rate-limits/index.md
Labels: docs release

#263 Specified that the parameter `client_id` is only applicable to Okta Org Authorization Server for the /keys endpoint
  packages/@okta/vuepress-site/docs/api/resources/oidc/index.md
Labels: docs release

#260 Import Nim SCSS
  packages/@okta/vuepress-theme-default/README.md
  packages/@okta/vuepress-theme-default/assets/css/okta.scss
  packages/@okta/vuepress-theme-default/assets/css/okta/base/typography.scss
  packages/@okta/vuepress-theme-default/assets/css/okta/base/variables.scss
  packages/@okta/vuepress-theme-default/assets/css/okta/components/Footer.scss
  packages/@okta/vuepress-theme-default/assets/css/okta/components/Header.scss
  packages/@okta/vuepress-theme-default/assets/css/okta/components/List.scss
  packages/@okta/vuepress-theme-default/assets/css/okta/components/PageContent.scss
  packages/@okta/vuepress-theme-default/assets/css/okta/components/TableOfContents.scss
  packages/@okta/vuepress-theme-default/assets/css/okta/pages/docsIndex.scss
  packages/@okta/vuepress-theme-default/components/MenuItem.vue
  packages/@okta/vuepress-theme-default/package.json
  yarn.lock
Labels: enhancement

#253 Registration Inline Hook doc page
  packages/@okta/vuepress-site/docs/api/resources/inline-hooks/index.md
  packages/@okta/vuepress-site/use_cases/inline_hooks/index.md
  packages/@okta/vuepress-site/use_cases/inline_hooks/registration_hook/registration_hook/index.md
Labels: Work In Process, docs release

#330 External icons for buttons
  packages/@okta/vuepress-theme-default/README.md
  packages/@okta/vuepress-theme-default/assets/css/okta/components/Button.scss
Labels: ui

#364 Adding new rn entry
  packages/@okta/vuepress-site/docs/release-notes/2019-05-2/index.md
Labels: docs release

#372 Release 2019.05.2
  packages/@okta/vuepress-site/docs/release-notes/2019-05-2/index.md
Labels: docs release

#285 new custom url domain guide
  packages/@okta/vuepress-site/guides/custom-url-domain/enable-the-custom-domain/index.md
  packages/@okta/vuepress-site/guides/custom-url-domain/gather-information/index.md
  packages/@okta/vuepress-site/guides/custom-url-domain/index.md
  packages/@okta/vuepress-site/guides/custom-url-domain/next-steps/index.md
  packages/@okta/vuepress-site/guides/custom-url-domain/overview/index.md
  packages/@okta/vuepress-site/guides/custom-url-domain/update-other-okta-settings/index.md
  packages/@okta/vuepress-site/guides/index.md
Labels: guides

#363 new custom hosted signin guide
  packages/@okta/vuepress-site/guides/custom-hosted-signin/customization-examples/index.md
  packages/@okta/vuepress-site/guides/custom-hosted-signin/edit-the-sign-in-page/index.md
  packages/@okta/vuepress-site/guides/custom-hosted-signin/index.md
  packages/@okta/vuepress-site/guides/custom-hosted-signin/next-steps/index.md
  packages/@okta/vuepress-site/guides/custom-hosted-signin/overview/index.md
  packages/@okta/vuepress-site/guides/custom-hosted-signin/use-macros-and-request-context/index.md
  packages/@okta/vuepress-site/guides/custom-url-domain/gather-information/index.md
  packages/@okta/vuepress-site/guides/custom-url-domain/overview/index.md
  packages/@okta/vuepress-site/guides/index.md
Labels: guides

#386 Release notes entry for 2019.05.3
  packages/@okta/vuepress-site/docs/release-notes/2019-05-3/index.md
Labels: docs release

#375 updates for phase 2 of token inline hooks
  packages/@okta/vuepress-site/use_cases/inline_hooks/token_hook/token_hook/index.md
Labels: docs release

#374 Added Dynamic Zone Support to api doc
  packages/@okta/vuepress-site/docs/api/resources/zones/index.md
Labels: docs release
