Repository okta/okta-developer-docs, pull requests merged in 2020-11, with the labels that each got.

#1578 OKTA-332527: Tree nav responsive issues
  packages/@okta/vuepress-theme-prose/assets/css/components/_apiOperation.scss
  packages/@okta/vuepress-theme-prose/assets/css/components/_content.scss
  packages/@okta/vuepress-theme-prose/assets/css/components/_sidebar.scss
  packages/@okta/vuepress-theme-prose/components/Breadcrumb.vue
  packages/@okta/vuepress-theme-prose/components/OnThisPage.vue
  packages/@okta/vuepress-theme-prose/components/Sidebar.vue
  packages/@okta/vuepress-theme-prose/components/SidebarItem.vue
  packages/@okta/vuepress-theme-prose/layouts/Layout.vue
  tests/selenium/framework/page-objects/DocsPage.js
  tests/selenium/framework/shared/util.js
  tests/selenium/spec/tree-nav-spec.js
Labels: ui, ui-nav-components, ui-responsive

#1605 GA OAuth2 Consent
  packages/@okta/vuepress-site/docs/reference/api/apps/index.md
  packages/@okta/vuepress-site/docs/reference/api/authorization-servers/index.md
  packages/@okta/vuepress-site/docs/reference/api/oauth-clients/index.md
  packages/@okta/vuepress-site/docs/reference/api/oidc/index.md
Labels: docs release

#1587 OKTA-338445: Removes restrictions on System Log API SCIM filter operators
  packages/@okta/vuepress-site/docs/reference/api/system-log/index.md
Labels: docs release

#1584 Adds in App Instance Property support
  packages/@okta/vuepress-site/docs/guides/submit-app/submission2-specific/openidconnect/submit.md
  packages/@okta/vuepress-site/docs/guides/submit-app/submission2-specific/saml2/submit.md
  packages/@okta/vuepress-site/docs/guides/submit-app/submission2-specific/scim/submit.md
Labels: docs release

#1522 IdP SAML Update
  packages/@okta/vuepress-site/docs/reference/api/idps/index.md
Labels: docs release

#1602 DWW Add new API doc for new MyAccount API.
  packages/@okta/vuepress-site/.vuepress/nav/reference.js
  packages/@okta/vuepress-site/docs/guides/implement-auth-code-pkce/setup-app/index.md
  packages/@okta/vuepress-site/docs/reference/api/myaccount/index.md
  packages/@okta/vuepress-site/docs/reference/api/users/index.md
Labels: docs release

#1609 Rn entry 2020.11.0
  packages/@okta/vuepress-site/docs/release-notes/2020-11-0/index.md
Labels: docs release

#1607 OKTA-303663: Update the visual style and copy for /code pages
  packages/@okta/vuepress-site/code/android/index.md
  packages/@okta/vuepress-site/code/angular/index.md
  packages/@okta/vuepress-site/code/dotnet/aspnet/index.md
  packages/@okta/vuepress-site/code/dotnet/aspnetcore/index.md
  packages/@okta/vuepress-site/code/go/index.md
  packages/@okta/vuepress-site/code/ios/index.md
  packages/@okta/vuepress-site/code/java/index.md
  packages/@okta/vuepress-site/code/java/spring/index.md
  packages/@okta/vuepress-site/code/javascript/index.md
  packages/@okta/vuepress-site/code/nodejs/index.md
  packages/@okta/vuepress-site/code/php/index.md
  packages/@okta/vuepress-site/code/python/index.md
  packages/@okta/vuepress-site/code/react-native/index.md
  packages/@okta/vuepress-site/code/react/index.md
  packages/@okta/vuepress-site/code/vue/index.md
  packages/@okta/vuepress-theme-prose/assets/css/abstracts/_colors.scss
  packages/@okta/vuepress-theme-prose/assets/css/components/_button.scss
  packages/@okta/vuepress-theme-prose/assets/css/components/_content.scss
  packages/@okta/vuepress-theme-prose/global-components/DropdownButton.vue
  packages/@okta/vuepress-theme-prose/global-components/DropdownButtonOption.vue
  tests/selenium/framework/page-objects/CodePage.js
  tests/selenium/spec/code-layout-spec.js
Labels: ui
