Repository okta/okta-developer-docs, pull requests merged in 2020-10, with the labels that each got.

#1438 Add section about embedding the Sign-In Widget with SDKs
  packages/@okta/vuepress-site/.vuepress/public/img/okta-signin.png
  packages/@okta/vuepress-site/code/javascript/okta_sign-in_widget/index.md
  packages/@okta/vuepress-site/docs/guides/quickstart/try-api/index.md
  packages/@okta/vuepress-site/docs/guides/quickstart/using-console/index.md
  packages/@okta/vuepress-site/docs/guides/style-the-widget/before-you-begin/index.md
Labels: cdg_v1

#1528 OKTA-327765: Tree nav width and arrows
  packages/@okta/vuepress-theme-prose/assets/css/components/_content.scss
  packages/@okta/vuepress-theme-prose/assets/css/components/_sidebar.scss
  packages/@okta/vuepress-theme-prose/components/SidebarItem.vue
Labels: Vuepress

#1519 OKTA-327732: Increase width of page to 1600px
  packages/@okta/vuepress-theme-prose/assets/css/abstracts/_breakpoints.scss
  packages/@okta/vuepress-theme-prose/assets/css/abstracts/_variables.scss
  packages/@okta/vuepress-theme-prose/assets/css/components/_docLanding.scss
  packages/@okta/vuepress-theme-prose/assets/css/components/_footer.scss
  packages/@okta/vuepress-theme-prose/assets/css/layouts/_layout.scss
Labels: Vuepress

#1490 OKTA-296724: Dev docs tree nav - scroll to the right section
  packages/@okta/vuepress-theme-prose/components/SidebarItem.vue
  tests/selenium/framework/page-objects/DocsPage.js
  tests/selenium/spec/tree-nav-spec.js
Labels: Vuepress

#1467 client-based rate limits
  packages/@okta/vuepress-site/.vuepress/nav/reference.js
  packages/@okta/vuepress-site/.vuepress/public/img/diagram1.png
  packages/@okta/vuepress-site/.vuepress/public/img/diagram2.png
  packages/@okta/vuepress-site/docs/reference/rate-limits/index.md
  packages/@okta/vuepress-site/docs/reference/rl-clientbased/index.md
  packages/@okta/vuepress-site/docs/reference/rl-global-other-endpoints/index.md
  packages/@okta/vuepress-site/docs/reference/rl-previous/index.md
Labels: docs release

#1477 right-align numbers in tables
  packages/@okta/vuepress-site/docs/reference/rate-limits/index.md
  packages/@okta/vuepress-site/docs/reference/rl-additional-limits/index.md
  packages/@okta/vuepress-site/docs/reference/rl-global-enduser/index.md
  packages/@okta/vuepress-site/docs/reference/rl-global-mgmt/index.md
  packages/@okta/vuepress-site/docs/reference/rl-global-other-endpoints/index.md
  packages/@okta/vuepress-site/docs/reference/rl-previous/index.md
Labels: docs release

#1459 Add documentation for group search and app group API enhancement
  packages/@okta/vuepress-site/docs/reference/api/groups/index.md
Labels: docs release

#1507 [Vue] Add Auth JS and Sign-In Widget Guides
  packages/@okta/vuepress-site/code/angular/index.md
  packages/@okta/vuepress-site/code/angular/okta_angular_auth_js/index.md
  packages/@okta/vuepress-site/code/angular/okta_angular_sign-in_widget/index.md
  packages/@okta/vuepress-site/code/javascript/okta_sign-in_widget/index.md
  packages/@okta/vuepress-site/code/react/index.md
  packages/@okta/vuepress-site/code/react/okta_react/index.md
  packages/@okta/vuepress-site/code/react/okta_react_sign-in_widget/index.md
  packages/@okta/vuepress-site/code/vue/index.md
  packages/@okta/vuepress-site/code/vue/okta_vue/index.md
  packages/@okta/vuepress-site/code/vue/okta_vue_sign-in_widget/index.md
Labels: cdg_v1

#1543 Add profile sourcing to the SCIM and Submission guides
  packages/@okta/vuepress-site/docs/guides/build-provisioning-integration/overview/index.md
  packages/@okta/vuepress-site/docs/guides/build-provisioning-integration/test-scim-app/index.md
  packages/@okta/vuepress-site/docs/guides/submit-app/create-guide/index.md
  packages/@okta/vuepress-site/docs/guides/submit-app/overview/index.md
  packages/@okta/vuepress-site/docs/guides/submit-app/submission2-specific/index.md
  packages/@okta/vuepress-site/docs/guides/submit-app/submission2-specific/scim/submit.md
Labels: docs release

#1532 Updates the submission guide with new process
  packages/@okta/vuepress-site/.vuepress/public/img/oin/isv-portal_submission_flow.png
  packages/@okta/vuepress-site/docs/guides/submit-app/overview/index.md
  packages/@okta/vuepress-site/docs/guides/submit-app/submission3-process/index.md
Labels: docs release

#1561 Add GitHub edit link to bottom of content pages
  packages/@okta/vuepress-site/.vuepress/config.js
  packages/@okta/vuepress-theme-prose/assets/css/components/_editLink.scss
  packages/@okta/vuepress-theme-prose/assets/css/prose.scss
  packages/@okta/vuepress-theme-prose/components/PageTitle.vue
  packages/@okta/vuepress-theme-prose/layouts/Layout.vue
Labels: ui
