Repository okta/okta-developer-docs, pull requests merged in 2021-08, with the labels that each got.

#2390 Mark the risk providers, risk events API as EA
  packages/@okta/vuepress-site/.vuepress/config.js
  packages/@okta/vuepress-site/docs/guides/third-party-risk-integration/overview/index.md
  packages/@okta/vuepress-site/docs/reference/api/risk-events/index.md
  packages/@okta/vuepress-site/docs/reference/api/risk-providers/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release

#2385 adding brands api guide updates
  packages/@okta/vuepress-site/docs/guides/custom-error-pages/overview/index.md
  packages/@okta/vuepress-site/docs/guides/customize-themes/index.md
  packages/@okta/vuepress-site/docs/guides/email-customization/before-you-begin/index.md
  packages/@okta/vuepress-site/docs/guides/style-the-widget/style-okta-hosted/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release

#2333 API reference for Device Flow and Native SSO
  packages/@okta/vuepress-site/docs/concepts/hosted-vs-embedded/index.md
  packages/@okta/vuepress-site/docs/reference/api/oidc/index.md
Labels: docs release

#2397 Device Authorization Grant
  packages/@okta/vuepress-site/.vuepress/public/img/DeviceAuthGrant2.png
  packages/@okta/vuepress-site/docs/guides/device-authorization-grant/index.md
  packages/@okta/vuepress-site/docs/guides/device-authorization-grant/main/index.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release

#2398 Native SSO Guide
  packages/@okta/vuepress-site/.vuepress/public/img/nativeSSO_flow2.png
  packages/@okta/vuepress-site/.vuepress/public/img/native_SSO_flow.png
  packages/@okta/vuepress-site/docs/guides/configure-native-sso/index.md
  packages/@okta/vuepress-site/docs/guides/configure-native-sso/main/index.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/reference/api-overview/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release

#2408 [OKTA-418015] Fix "Go Samples on GitHub" link in go/create-app.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/before-you-begin/go/create-app.md
Labels: bug, enhancement, good first issue, Vuepress

#2413 Clean up OIE Java SDK, embedded widget use cases
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-use-case-load-java.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-use-case-sign-in-java.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-use-case-social-sign-in-java.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-use-case-social-sign-in-screen-java.png
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-basic-sign-in/java/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-basic-sign-in/java/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-load/java/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-load/java/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-load/nodejs/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-sign-in-soc-idp/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-sign-in-soc-idp/java/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-sign-in-soc-idp/java/summaryofsteps.md
Labels: Identity Engine

#2414 Add `exp` to Device Secret introspect endpoint in Native SSO flow
  packages/@okta/vuepress-site/docs/guides/configure-native-sso/main/index.md
  packages/@okta/vuepress-site/docs/guides/device-authorization-grant/main/index.md
Labels: docs release

#2323 mockup for OIE release notes
  packages/@okta/vuepress-site/docs/release-notes/2021 - Okta Identity Engine/index.md
  packages/@okta/vuepress-site/docs/release-notes/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release

#2438 Oie docs embedded master golang 2
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-go-use-case-basic-sign-on.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-go-use-case-sign-on-email-factor.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-go-use-case-basic-sign-on.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-go-use-case-load.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-go-use-case-social-sign-in.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-golang-sample-app-fb-sign-in-page.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-golang-sample-app-home-page.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-golang-sample-app-idp-sign-in-page.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-golang-sample-app-sign-in-page.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-golang-sample-app-user-default-page.png
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-run-sample/main/go/testapp.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-basic-sign-in/go/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-basic-sign-in/go/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-basic-sign-in/java/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-load/go/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-load/go/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-load/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-sign-in-soc-idp/go/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-sign-in-soc-idp/go/summaryofsteps.md
Labels: Identity Engine

#2451 Clean up OIE - Java Widget use cases
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-run-sample/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-run-sample/main/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-run-sample/main/java/testapp.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-basic-sign-in/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-basic-sign-in/java/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-basic-sign-in/java/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-load/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-load/java/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-load/java/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-overview/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-sign-in-soc-idp/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-sign-in-soc-idp/java/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-sign-in-soc-idp/java/summaryofsteps.md
Labels: Identity Engine

#2434 QR Code addition
  packages/@okta/vuepress-site/.vuepress/public/img/QRActivate.png
  packages/@okta/vuepress-site/docs/guides/device-authorization-grant/main/index.md
Labels: docs release

#2437 Rate limit dashboard update
  packages/@okta/vuepress-site/docs/reference/rl-dashboard/index.md
Labels: docs release

#2412 Reconcile IAM roles API docs into main roles API docs and tag EA
  packages/@okta/vuepress-site/.vuepress/config.js
  packages/@okta/vuepress-site/docs/concepts/role-assignment/index.md
  packages/@okta/vuepress-site/docs/reference/api/iam-roles/index.md
  packages/@okta/vuepress-site/docs/reference/api/roles/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release

#2460 Okta Identity Engine Overview
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-overview/main/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-overview/main/index.md
  packages/@okta/vuepress-site/docs/guides/oie-intro/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: Identity Engine

#2461 Putting emphasis on Redirect
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: Identity Engine

#2465 Cleanup ASP.Net integration steps
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-simple-self-serv-seq-enroll-verify.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-simple-self-serv-seq-phone.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-simple-self-serv-seq-skip-phone.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-simple-self-serv-seq-start.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-social-sign-in.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-use-case-load.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-use-case-sign-in.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-use-case-social-sign-in.png
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-cases/oie-embedded-sdk-use-case-self-reg/aspnet/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-cases/oie-embedded-sdk-use-case-sign-in-soc-idp/aspnet/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-basic-sign-in/aspnet/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-load/aspnet/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-cases/oie-embedded-widget-use-case-sign-in-soc-idp/aspnet/integrationsteps.md
Labels: Identity Engine
