Repository okta/okta-developer-docs, pull requests merged in 2022-06, with the labels that each got.

#3365 Amend .net email authenticator guide to reflect bug fix
  packages/@okta/vuepress-site/.vuepress/public/img/authenticators/dotnet-authenticators-email-challenge-with-magic-link-flow-diagram.png
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-email/main/aspnet/integratechallengemagiclink.md
Labels: bug

#3384 OKTA-500903 Add Authentication Settings section with Filter option
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/openidconnect/appidpinokta.md
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/saml2/appidpinokta.md
  packages/@okta/vuepress-site/docs/reference/api/idps/index.md
Labels: docs release

#3373 updates per new public key options for IdPs
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/apple/afterappidpinokta.md
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/azure/afterappidpinokta.md
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/facebook/afterappidpinokta.md
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/google/afterappidpinokta.md
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/index.md
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/linkedin/afterappidpinokta.md
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/microsoft/afterappidpinokta.md
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/oktatookta/afterappidpinokta.md
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/openidconnect/afterappidpinokta.md
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/openidconnect/appidpinokta.md
Labels: docs release

#3351 Dynamic IdP routing documentation update
  packages/@okta/vuepress-site/docs/reference/api/policy/index.md
  packages/@okta/vuepress-site/docs/reference/okta-expression-language-in-identity-engine/index.md
Labels: docs release

#3342 API doc updates for Delegated Flows
  packages/@okta/vuepress-site/docs/concepts/role-assignment/index.md
  packages/@okta/vuepress-site/docs/reference/api/roles/index.md
Labels: docs release

#3299 Add initial Java Okta Verify IDX docs
  packages/@okta/vuepress-site/.vuepress/public/img/authenticators/java-authenticators-okta-verify-challenge-with-push.png
  packages/@okta/vuepress-site/.vuepress/public/img/authenticators/java-authenticators-okta-verify-challenge-with-totp.png
  packages/@okta/vuepress-site/.vuepress/public/img/authenticators/java-authenticators-okta-verify-enrol-with-email.png
  packages/@okta/vuepress-site/.vuepress/public/img/authenticators/java-authenticators-okta-verify-enroll-with-QRcode.png
  packages/@okta/vuepress-site/.vuepress/public/img/authenticators/java-authenticators-okta-verify-enrollment-scan-qr-code.png
  packages/@okta/vuepress-site/.vuepress/public/img/authenticators/java-authenticators-okta-verify-shared-code-initiate-signin.png
  packages/@okta/vuepress-site/.vuepress/public/img/authenticators/java-enrollment-email-prompt-user-to-check-email.png
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-verify/main/java/challengepushintegrationsteps.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-verify/main/java/challengepushintegrationsummary.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-verify/main/java/challengetotpintegrationsteps.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-verify/main/java/challengetotpintegrationsummary.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-verify/main/java/commonsteps.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-verify/main/java/enrollmentotherintegrationsteps.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-verify/main/java/enrollmentotherintegrationsummary.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-verify/main/java/enrollmentqrcodeintegrationsteps.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-verify/main/java/enrollmentqrcodeintegrationsummary.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-verify/main/java/orgconfigurepwdonly.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-verify/main/java/relatedusecases.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-verify/main/java/samplecode.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-verify/main/java/whatyouneedorg.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-verify/main/java/whatyouneedsdk.md
Labels: guides, Identity Engine, Java OIE by default guides

#3286 WebAuthn authenticator guide For Java
  packages/@okta/vuepress-site/.vuepress/public/img/authenticators/authenticators-webauthn-java-challenge-summary.png
  packages/@okta/vuepress-site/.vuepress/public/img/authenticators/authenticators-webauthn-java-dropdown-selection.png
  packages/@okta/vuepress-site/.vuepress/public/img/authenticators/authenticators-webauthn-java-enroll-dropdown-selection.png
  packages/@okta/vuepress-site/.vuepress/public/img/authenticators/authenticators-webauthn-java-enrollment-summary.png
  packages/@okta/vuepress-site/docs/guides/authenticators-web-authn/main/index.md
  packages/@okta/vuepress-site/docs/guides/authenticators-web-authn/main/java/challengeintegrationsteps.md
  packages/@okta/vuepress-site/docs/guides/authenticators-web-authn/main/java/challengeintegrationsummary.md
  packages/@okta/vuepress-site/docs/guides/authenticators-web-authn/main/java/enrollmentintegrationsteps.md
  packages/@okta/vuepress-site/docs/guides/authenticators-web-authn/main/java/enrollmentintegrationsummary.md
  packages/@okta/vuepress-site/docs/guides/authenticators-web-authn/main/java/oiesdksetup.md
  packages/@okta/vuepress-site/docs/guides/authenticators-web-authn/main/java/orgconfigurepwdonly.md
  packages/@okta/vuepress-site/docs/guides/authenticators-web-authn/main/java/relatedusecases.md
  packages/@okta/vuepress-site/docs/guides/authenticators-web-authn/main/java/samplecode.md
  packages/@okta/vuepress-site/docs/guides/authenticators-web-authn/main/java/softwareversions.md
  packages/@okta/vuepress-site/docs/guides/authenticators-web-authn/main/nodeexpress/challengeintegrationsummary.md
Labels: guides, Identity Engine, final edit ready, Java OIE by default guides

#3411 add new SSH algo options.
  packages/@okta/vuepress-site/.vuepress/config.js
  packages/@okta/vuepress-site/docs/reference/api/asa/projects/index.md
  packages/@okta/vuepress-site/docs/reference/api/myaccount-migration/index.md
  packages/@okta/vuepress-site/docs/reference/api/myaccount/index.md
Labels: docs release

#3382 OKTA-488588 - New User query guide draft
  packages/@okta/vuepress-site/docs/reference/api/users/index.md
  packages/@okta/vuepress-site/docs/reference/user-query/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: final review complete

#3410 Updated User Lifecycle Reset Factors to optionally support factor removal for recovery
  packages/@okta/vuepress-site/docs/reference/api/users/index.md
Labels: docs release
