Repository okta/okta-developer-docs, pull requests merged in 2022-07, with the labels that each got.

#3447 OKTA-506935 Configurable Rate Limits by API Token
  packages/@okta/vuepress-site/docs/guides/create-an-api-token/main/index.md
  packages/@okta/vuepress-site/docs/reference/rate-limits/index.md
Labels: docs release

#3445 EA flag removal in Role Assignment Concept
  packages/@okta/vuepress-site/docs/concepts/role-assignment/index.md
Labels: docs release

#3442 removing the EA flag for trusted origins iframe embedding GA
  packages/@okta/vuepress-site/docs/reference/api/trusted-origins/index.md
Labels: docs release

#3439 Merge duplicate policies info
  packages/@okta/vuepress-site/docs/concepts/policies/index.md
  packages/@okta/vuepress-site/docs/reference/api/apps/index.md
  packages/@okta/vuepress-site/docs/reference/api/policy/index.md
Labels: docs release

#3463 Rn entry 2022.07.0
  packages/@okta/vuepress-site/docs/release-notes/2022-okta-identity-engine/index.md
  packages/@okta/vuepress-site/docs/release-notes/2022/index.md
Labels: docs release

#3434 TBS Updates to custom email guide (EML for SSPR)
  packages/@okta/vuepress-site/docs/guides/custom-email/main/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-custom-pwd-recovery-mfa/main/nodeexpress/beforeyoubegin.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-custom-pwd-recovery-mfa/main/nodeexpress/sdk.md
Labels: docs release, final review complete

#3464 OKTA-508890 Update the android browser redirect guide to okta-mobile-kotlin.
  packages/@okta/vuepress-site/docs/guides/sign-into-mobile-app-redirect/main/android/addconfigpkg.md
  packages/@okta/vuepress-site/docs/guides/sign-into-mobile-app-redirect/main/android/checkfortoken.md
  packages/@okta/vuepress-site/docs/guides/sign-into-mobile-app-redirect/main/android/configmid.md
  packages/@okta/vuepress-site/docs/guides/sign-into-mobile-app-redirect/main/android/createproject.md
  packages/@okta/vuepress-site/docs/guides/sign-into-mobile-app-redirect/main/android/definecallback.md
  packages/@okta/vuepress-site/docs/guides/sign-into-mobile-app-redirect/main/android/getuserinfo.md
  packages/@okta/vuepress-site/docs/guides/sign-into-mobile-app-redirect/main/android/opensignin.md
  packages/@okta/vuepress-site/docs/guides/sign-into-mobile-app-redirect/main/android/redirectvalues.md
  packages/@okta/vuepress-site/docs/guides/sign-into-mobile-app-redirect/main/android/refresh.md
  packages/@okta/vuepress-site/docs/guides/sign-into-mobile-app-redirect/main/android/samplecode.md
  packages/@okta/vuepress-site/docs/guides/sign-into-mobile-app-redirect/main/android/testapp.md
  packages/@okta/vuepress-site/docs/guides/sign-into-mobile-app-redirect/main/android/usetoken.md
  packages/@okta/vuepress-site/docs/guides/sign-into-mobile-app-redirect/main/index.md
Labels: final review complete

#3435 Password optional Sign up Javascript Node Guide
  packages/@okta/vuepress-site/.vuepress/public/img/pwd-optional/pwd-optional-sign-up-authenticators-page.png
  packages/@okta/vuepress-site/.vuepress/public/img/pwd-optional/pwd-optional-sign-up-link-sign-in-page.png
  packages/@okta/vuepress-site/.vuepress/public/img/pwd-optional/pwd-optional-sign-up-page.png
  packages/@okta/vuepress-site/.vuepress/public/img/pwd-optional/pwd-optional-sign-up-summary.png
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-common-org-setup/main/index.md
  packages/@okta/vuepress-site/docs/guides/pwd-optional-new-sign-up-email/index.md
  packages/@okta/vuepress-site/docs/guides/pwd-optional-new-sign-up-email/main/index.md
  packages/@okta/vuepress-site/docs/guides/pwd-optional-new-sign-up-email/main/nodeexpress/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/pwd-optional-new-sign-up-email/main/nodeexpress/integrationsummary.md
  packages/@okta/vuepress-site/docs/guides/pwd-optional-new-sign-up-email/main/nodeexpress/samplecode.md
  packages/@okta/vuepress-site/docs/guides/pwd-optional-new-sign-up-email/main/nodeexpress/setupoktaorg.md
  packages/@okta/vuepress-site/docs/guides/pwd-optional-new-sign-up-email/main/nodeexpress/whatyouneed.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: final edit ready

#3453 New Email Magic Links Overview page
  packages/@okta/vuepress-site/.vuepress/public/img/advanced-use-cases/email-magic-link-overview-simple-summary.png
  packages/@okta/vuepress-site/.vuepress/public/img/advanced-use-cases/email-magic-links-overview-custom-template-flow.png
  packages/@okta/vuepress-site/.vuepress/public/img/advanced-use-cases/email-magic-links-overview-experience-flow.png
  packages/@okta/vuepress-site/.vuepress/public/img/advanced-use-cases/email-magic-links-overview-fallback-to-otp.png
  packages/@okta/vuepress-site/.vuepress/public/img/advanced-use-cases/email-magic-links-overview-sample-email.png
  packages/@okta/vuepress-site/.vuepress/public/img/advanced-use-cases/email-magic-links-overview-user-flow-comparison.png
  packages/@okta/vuepress-site/docs/guides/advanced-use-case-overview/main/aspnet/emloverview.md
  packages/@okta/vuepress-site/docs/guides/advanced-use-case-overview/main/index.md
  packages/@okta/vuepress-site/docs/guides/advanced-use-case-overview/main/java/customsspr.md
  packages/@okta/vuepress-site/docs/guides/advanced-use-case-overview/main/java/emloverview.md
  packages/@okta/vuepress-site/docs/guides/advanced-use-case-overview/main/nodeexpress/emloverview.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-email/main/aspnet/emloverview.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-email/main/aspnet/evenote.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-email/main/index.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-email/main/java/emloverview.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-email/main/java/evenote.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-email/main/nodeexpress/emloverview.md
  packages/@okta/vuepress-site/docs/guides/authenticators-okta-email/main/nodeexpress/evenote.md
  packages/@okta/vuepress-site/docs/guides/email-magic-links-overview/index.md
  packages/@okta/vuepress-site/docs/guides/email-magic-links-overview/main/aspnet/CustomPasswordRecoveryGuide.md
  packages/@okta/vuepress-site/docs/guides/email-magic-links-overview/main/aspnet/EmailAuthenticatorGuide.md
  packages/@okta/vuepress-site/docs/guides/email-magic-links-overview/main/aspnet/SeeAlso.md
  packages/@okta/vuepress-site/docs/guides/email-magic-links-overview/main/aspnet/VersionSupportNote.md
  packages/@okta/vuepress-site/docs/guides/email-magic-links-overview/main/index.md
  packages/@okta/vuepress-site/docs/guides/email-magic-links-overview/main/java/CustomPasswordRecoveryGuide.md
  packages/@okta/vuepress-site/docs/guides/email-magic-links-overview/main/java/EmailAuthenticatorGuide.md
  packages/@okta/vuepress-site/docs/guides/email-magic-links-overview/main/java/SeeAlso.md
  packages/@okta/vuepress-site/docs/guides/email-magic-links-overview/main/java/VersionSupportNote.md
  packages/@okta/vuepress-site/docs/guides/email-magic-links-overview/main/nodeexpress/CustomPasswordRecoveryGuide.md
  packages/@okta/vuepress-site/docs/guides/email-magic-links-overview/main/nodeexpress/EmailAuthenticatorGuide.md
  packages/@okta/vuepress-site/docs/guides/email-magic-links-overview/main/nodeexpress/SeeAlso.md
  packages/@okta/vuepress-site/docs/guides/email-magic-links-overview/main/nodeexpress/VersionSupportNote.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-custom-pwd-recovery-mfa/main/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: guides, final edit ready

#3408 Add Push Provider public API docs, RESOLVES: OKTA-483393
  packages/@okta/vuepress-site/docs/guides/implement-oauth-for-okta/main/index.md
  packages/@okta/vuepress-site/docs/reference/api/push-providers/index.md
  packages/@okta/vuepress-site/docs/reference/postman-collections/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release

#3479 upgrading velocity apache to 2.3
  packages/@okta/vuepress-site/docs/guides/custom-email/main/index.md
Labels: docs release

#3502 Release 2022.07.2
  packages/@okta/vuepress-site/docs/guides/custom-email/main/index.md
  packages/@okta/vuepress-site/docs/release-notes/2022-okta-identity-engine/index.md
  packages/@okta/vuepress-site/docs/release-notes/2022/index.md
Labels: final review complete

#3507 OKTA-501360 Update title and add nut-facts to scim-provisioning-integration-conne…
  packages/@okta/vuepress-site/docs/guides/scim-provisioning-integration-connect/main/index.md
  packages/@okta/vuepress-site/docs/guides/scim-provisioning-integration-overview/main/index.md
  packages/@okta/vuepress-site/docs/guides/scim-provisioning-integration-prepare/main/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: final review complete
