Repository okta/okta-developer-docs, pull requests merged in 2022-03, with the labels that each got.

#3002 Add Email Templates reference docs.
  packages/@okta/vuepress-site/.vuepress/public/docs/api/postman/brands.json
  packages/@okta/vuepress-site/docs/guides/customize-themes/index.md
  packages/@okta/vuepress-site/docs/reference/api/brands/index.md
  packages/@okta/vuepress-site/docs/reference/postman-collections/index.md
Labels: docs release

#3038 OKTA-466754 API docs update for jwks_uri
  packages/@okta/vuepress-site/docs/reference/api/apps/index.md
  packages/@okta/vuepress-site/docs/reference/api/oauth-clients/index.md
Labels: docs release

#3048 Remove Early Access Tags for Custom Admin Roles
  packages/@okta/vuepress-site/docs/concepts/role-assignment/index.md
  packages/@okta/vuepress-site/docs/reference/api/admin-notifications/index.md
  packages/@okta/vuepress-site/docs/reference/api/roles/index.md
Labels: docs release

#3062 Add dev-docs around Shared app sign on policies
  packages/@okta/vuepress-site/docs/reference/api/apps/index.md
  packages/@okta/vuepress-site/docs/reference/api/policy/index.md
Labels: docs release

#3072 OKTA-472876 Document signed request object support for generic OIDC IdP
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/index.md
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/openidconnect/appidpinokta.md
Labels: docs release

#3044 TBS OKTA-462790 Update custom email guide to include VTL
  packages/@okta/vuepress-site/docs/guides/custom-email/main/index.md
  packages/@okta/vuepress-site/docs/guides/customize-themes/index.md
Labels: docs release

#3128 Release 2022.03.1
  packages/@okta/vuepress-site/docs/release-notes/2022-okta-identity-engine/index.md
  packages/@okta/vuepress-site/docs/release-notes/2022/index.md
Labels: final review complete

#3133 OKTA-475953 - Update embedded sign-in guides with note about shared default auth policy
  packages/@okta/vuepress-site/docs/guides/auth-js/main/index.md
  packages/@okta/vuepress-site/docs/guides/embedded-siw/main/index.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-authjs/main/index.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-authjs/main/react/create-app-integration.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-authjs/main/vue/create-app-integration.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-embedded-widget/main/angular/create-app-integration.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-embedded-widget/main/index.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-embedded-widget/main/react/create-app-integration.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-embedded-widget/main/vue/create-app-integration.md
Labels: final review complete

#3115 TBS-OKTA-455210-Updates custom URL UI flow and adds note
  packages/@okta/vuepress-site/docs/guides/custom-url-domain/main/index.md
Labels: final review complete

#3114 Adds email bounces remove list API
  packages/@okta/vuepress-site/docs/reference/api/org/index.md
  packages/@okta/vuepress-site/docs/reference/postman-collections/index.md
Labels: final review complete

#3105 Added API doc for myaccount phone /challenge and /verify endpoints
  packages/@okta/vuepress-site/docs/reference/api/myaccount/index.md
Labels: Work In Progress

#3121 Add API doc for MyAccount phone CRUD endpoints
  packages/@okta/vuepress-site/docs/reference/api/myaccount/index.md
Labels: Work In Progress

#3147 [OKTA-460124] "Protect Your API" PHP Quickstart
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/index.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/php/configcors.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/php/configmid.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/php/createproject.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/php/createroute.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/php/independ.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/php/reqautheverything.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/php/reqauthspecific.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/php/request.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/php/samplecode.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/php/specificlinks.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/php/testapp.md
  packages/@okta/vuepress-site/docs/guides/quickstart/main/index.md
  packages/@okta/vuepress-site/index.md
Labels: final review complete, quickstart

#3155 OKTA-478460 Add release note entries for 2022.03.2
  packages/@okta/vuepress-site/docs/release-notes/2022-okta-identity-engine/index.md
  packages/@okta/vuepress-site/docs/release-notes/2022/index.md
Labels: docs release

#3138 OKTA-462650 Set servers parameter to optional ASA /preauthorizations
  packages/@okta/vuepress-site/docs/reference/api/asa/projects/index.md
Labels: docs release, final review complete

#3140 TBS OKTA-477959 Update registration hook error object
  packages/@okta/vuepress-site/docs/reference/registration-hook/index.md
Labels: docs release, final review complete

#3156 OKTA-478460 Release Notes for 2022.03.2
  packages/@okta/vuepress-site/docs/reference/api/asa/projects/index.md
  packages/@okta/vuepress-site/docs/reference/registration-hook/index.md
  packages/@okta/vuepress-site/docs/release-notes/2022-okta-identity-engine/index.md
  packages/@okta/vuepress-site/docs/release-notes/2022/index.md
Labels: docs release

#3145 OKTA-459126 Add pagination offset example
  packages/@okta/vuepress-site/docs/reference/api/asa/attributes/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/audits/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/clients/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/entitlements/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/groups/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/introduction/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/projects/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/service-users/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/teams/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/users/index.md
Labels: final review complete

#3154 OKTA-479360 Update SCIM Provisioning integration images
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_check-attributes-1.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_check-attributes-10.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_check-attributes-11.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_check-attributes-13.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_check-attributes-14.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_check-attributes-16.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_check-attributes-17.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_check-attributes-18.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_check-attributes-19.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_check-attributes-2.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_check-attributes-3.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_check-attributes-4.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_check-attributes-6.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_check-attributes-7.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_check-attributes-8.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_crud-test-identifiers.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/scim_crud-variables-d.png
  packages/@okta/vuepress-site/.vuepress/public/standards/SCIM/SCIMFiles/okta-scim-test-plan.xlsx
  packages/@okta/vuepress-site/docs/guides/scim-provisioning-integration-connect/main/index.md
  packages/@okta/vuepress-site/docs/guides/scim-provisioning-integration-test/main/index.md
Labels: final review complete

#3171 TBS OKTA-481276 Add notes about CAA and lets encrypt
  packages/@okta/vuepress-site/docs/guides/custom-url-domain/main/index.md
Labels: final review complete

#3188 Update the Create User API docs to include Optional Password scenarios
  packages/@okta/vuepress-site/docs/reference/api/users/index.md
Labels: docs release, final review complete

#3181 Telephony Inline Hook
  packages/@okta/vuepress-site/.vuepress/config.js
  packages/@okta/vuepress-site/docs/concepts/inline-hooks/index.md
  packages/@okta/vuepress-site/docs/guides/common-hook-set-up-steps/main/index.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/guides/telephony-inline-hook/index.md
  packages/@okta/vuepress-site/docs/guides/telephony-inline-hook/main/index.md
  packages/@okta/vuepress-site/docs/guides/telephony-inline-hook/main/nodejs/responsetookta.md
  packages/@okta/vuepress-site/docs/guides/telephony-inline-hook/main/nodejs/sendsmsmakecall.md
  packages/@okta/vuepress-site/docs/guides/telephony-inline-hook/main/nodejs/userotpcode.md
  packages/@okta/vuepress-site/docs/guides/telephony-inline-hook/main/nodejs/userphonenumber.md
  packages/@okta/vuepress-site/docs/reference/api/inline-hooks/index.md
  packages/@okta/vuepress-site/docs/reference/hooks-best-practices/index.md
  packages/@okta/vuepress-site/docs/reference/telephony-hook/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release, final review complete

#3178 Remove "Early Access" flag for OAuth 2.0-based Provisioning Connection
  packages/@okta/vuepress-site/docs/reference/api/apps/index.md
Labels: docs release, final review complete

#3170 OKTA-461728 Remove EA flag for mutli-org guide
  packages/@okta/vuepress-site/docs/guides/secure-oauth-between-orgs/main/index.md
Labels: docs release, final review complete

#3168 OKTA-481120: Add requestType, remove eventAction for Telephony hooks
  packages/@okta/vuepress-site/docs/reference/telephony-hook/index.md
Labels: docs release, final review complete

#3165 Edit developer doc to use multiOptionalFactorEnroll in recovery flow
  packages/@okta/vuepress-site/docs/reference/api/authn/index.md
Labels: docs release, final review complete

#3161 doc updates for 2 factor default
  packages/@okta/vuepress-site/docs/guides/auth-js/main/index.md
  packages/@okta/vuepress-site/docs/guides/embedded-siw/main/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-common-org-setup/main/index.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-authjs/main/index.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-authjs/main/react/create-app-integration.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-authjs/main/vue/create-app-integration.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-authjs/main/vue/intro.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-embedded-widget/main/angular/create-app-integration.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-embedded-widget/main/index.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-embedded-widget/main/react/create-app-integration.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-embedded-widget/main/react/intro.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-embedded-widget/main/vue/create-app-integration.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-embedded-widget/main/vue/intro.md
Labels: docs release, final review complete

#3122 par support
  packages/@okta/vuepress-site/docs/reference/api/oidc/index.md
Labels: docs release, final review complete

#2991 OKTA-449821: Splunk cloud log streaming dev docs
  packages/@okta/vuepress-site/docs/reference/api/log-streaming/index.md
  packages/@okta/vuepress-site/docs/reference/api/schemas/index.md
Labels: docs release, final review complete

#3182 OKTA-482463 Updates to the Rate Limits Dashboard reference
  packages/@okta/vuepress-site/.vuepress/public/img/rl_dashboard3.png
  packages/@okta/vuepress-site/.vuepress/public/img/rl_dashboard6.png
  packages/@okta/vuepress-site/.vuepress/public/img/rl_dashboard7.png
  packages/@okta/vuepress-site/.vuepress/public/img/rl_dashboard8.png
  packages/@okta/vuepress-site/.vuepress/public/img/rl_dashboard9.png
  packages/@okta/vuepress-site/.vuepress/public/img/rl_usage_over_time.png
  packages/@okta/vuepress-site/docs/reference/rl-dashboard/index.md
Labels: docs release, final review complete

#3167 OKTA-479331: Developer doc for Custom Source Integration Delegated
  packages/@okta/vuepress-site/.vuepress/config.js
  packages/@okta/vuepress-site/docs/reference/csi-delauth-hook/index.md
Labels: docs release, final review complete

#3097 [OKTA-461263] Google authenticator integration guide (.NET SDK)
  packages/@okta/vuepress-site/docs/guides/authenticators-google-authenticator/main/aspnet/challengeintegrationsteps.md
  packages/@okta/vuepress-site/docs/guides/authenticators-google-authenticator/main/aspnet/challengeintegrationsummary.md
  packages/@okta/vuepress-site/docs/guides/authenticators-google-authenticator/main/aspnet/enrollmentintegrationsteps.md
  packages/@okta/vuepress-site/docs/guides/authenticators-google-authenticator/main/aspnet/enrollmentintegrationsummary.md
  packages/@okta/vuepress-site/docs/guides/authenticators-google-authenticator/main/index.md
Labels: guides, Identity Engine, final review complete

#3069 [OKTA-459415] First pass at Custom SSPR Guide for dotnet
  packages/@okta/vuepress-site/.vuepress/public/img/advanced-use-cases/dotnet-custom-pwd-recovery-custom-sdk-reset-pwd-page.png
  packages/@okta/vuepress-site/.vuepress/public/img/advanced-use-cases/dotnet-custom-pwd-recovery-custom-sdk-summary.png
  packages/@okta/vuepress-site/.vuepress/public/img/advanced-use-cases/dotnet-custom-pwd-recovery-custom-siw-reset-pwd-page.png
  packages/@okta/vuepress-site/.vuepress/public/img/advanced-use-cases/dotnet-custom-pwd-recovery-custom-siw-summary.png
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-custom-pwd-recovery-mfa/main/aspnet/beforeyoubegin.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-custom-pwd-recovery-mfa/main/aspnet/emailtemplate.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-custom-pwd-recovery-mfa/main/aspnet/oiesdksetup.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-custom-pwd-recovery-mfa/main/aspnet/orgconfigurepwdonly.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-custom-pwd-recovery-mfa/main/aspnet/relatedusecases.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-custom-pwd-recovery-mfa/main/aspnet/samplecode.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-custom-pwd-recovery-mfa/main/aspnet/sdk.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-custom-pwd-recovery-mfa/main/aspnet/sdksummary.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-custom-pwd-recovery-mfa/main/aspnet/siw.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-custom-pwd-recovery-mfa/main/aspnet/siwsummary.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-custom-pwd-recovery-mfa/main/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-custom-pwd-recovery-mfa/main/nodeexpress/beforeyoubegin.md
Labels: guides, Identity Engine, final review complete
