Repository okta/okta-developer-docs, pull requests merged in 2022-05, with the labels that each got.

#3290 ORN Concept Documentation
  packages/@okta/vuepress-site/docs/concepts/role-assignment/index.md
  packages/@okta/vuepress-site/docs/reference/api/roles/index.md
  yarn.lock
Labels: docs release

#3272 Trusted Origins API doc changes for iframe embedding feature
  packages/@okta/vuepress-site/docs/reference/api/trusted-origins/index.md
Labels: docs release

#3262 OKTA-490299 Update Github IdP mapping variables appuser.id and idpuser.id variables
  packages/@okta/vuepress-site/docs/guides/social-login/main/github/noemail.md
Labels: docs release

#3289 Updates to client-based rate limiting
  packages/@okta/vuepress-site/docs/reference/rl-clientbased/index.md
  packages/@okta/vuepress-site/docs/reference/rl-dashboard/index.md
Labels: docs release

#3328 el-okta-495857 MyAccount postman collection
  packages/@okta/vuepress-site/.vuepress/public/docs/api/postman/myaccount.json
  packages/@okta/vuepress-site/docs/reference/api/myaccount/index.md
  packages/@okta/vuepress-site/docs/reference/postman-collections/index.md
Labels: docs release

#3325 OKTA-491325: Added documentation to get and update customizable template settings
  packages/@okta/vuepress-site/docs/reference/api/brands/index.md
Labels: docs release

#3336 TBS User-Scoped account management guide
  packages/@okta/vuepress-site/conductor.yml
  packages/@okta/vuepress-site/docs/guides/configure-user-scoped-account-management/index.md
  packages/@okta/vuepress-site/docs/guides/configure-user-scoped-account-management/main/index.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release

#3332 Okta email updates to the password recovery guide
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/factor-password-email.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-pwd-recovery-nodejs.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-pwd-recovery-screenshot-reset-nodejs.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-pwd-recovery-screenshot-select-auth-nodejs.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-pwd-recovery-screenshot-set-password-nodejs.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-simple-sign-on-screenshot-sign-in-nodejs.png
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-pwd-recovery-mfa/main/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-pwd-recovery-mfa/main/nodejs/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-pwd-recovery-mfa/main/nodejs/summaryofsteps.md
Labels: guides, final edit ready

#3361 group limit note for code response types
  packages/@okta/vuepress-site/docs/guides/customize-tokens-dynamic/main/index.md
  packages/@okta/vuepress-site/docs/guides/customize-tokens-static/main/index.md
Labels: docs release

#3358 TBS Add generic timeout message for Progressive Enrollment
  packages/@okta/vuepress-site/docs/concepts/inline-hooks/index.md
  packages/@okta/vuepress-site/docs/guides/registration-inline-hook/main/index.md
  packages/@okta/vuepress-site/docs/reference/registration-hook/index.md
Labels: docs release, final review complete

#3349 MyAccount API - Updating response body for 'Add a phone' and 'Challenge phone' to include 401 response
  packages/@okta/vuepress-site/docs/reference/api/myaccount/index.md
Labels: docs release

#3374 OKTA-502182 Remove device context from site
  packages/@okta/vuepress-site/docs/concepts/how-okta-works/index.md
  packages/@okta/vuepress-site/docs/guides/advanced-use-case-overview/main/aspnet/devicecontext.md
  packages/@okta/vuepress-site/docs/guides/advanced-use-case-overview/main/index.md
  packages/@okta/vuepress-site/docs/guides/advanced-use-case-overview/main/nodeexpress/devicecontext.md
  packages/@okta/vuepress-site/docs/guides/device-context/index.md
  packages/@okta/vuepress-site/docs/guides/device-context/main/index.md
  packages/@okta/vuepress-site/docs/guides/device-context/main/nodeexpress/configureorg.md
  packages/@okta/vuepress-site/docs/guides/device-context/main/nodeexpress/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/device-context/main/nodeexpress/relatedusecases.md
  packages/@okta/vuepress-site/docs/guides/device-context/main/nodeexpress/samplecode.md
  packages/@okta/vuepress-site/docs/guides/device-context/main/nodeexpress/whatyouneedorg.md
  packages/@okta/vuepress-site/docs/guides/device-context/main/nodeexpress/whatyouneedsdk.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/guides/sign-in-overview/main/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: bug

#3120 Add Concurrency Limits text in the Rate Limiting section for ASA Introduction
  packages/@okta/vuepress-site/docs/reference/api/asa/introduction/index.md
Labels: final review complete
