Repository okta/okta-developer-docs, pull requests merged in 2022-08, with the labels that each got.

#3508 OKTA-516282 Configurable Rate Limits by API Token Updates - Part 2
  packages/@okta/vuepress-site/.vuepress/public/img/rate-limits/rl_usage_over_time-bar-dropdown.png
  packages/@okta/vuepress-site/.vuepress/public/img/rate-limits/rl_usage_over_time-original.png
  packages/@okta/vuepress-site/.vuepress/public/img/rate-limits/rl_usage_over_time.png
  packages/@okta/vuepress-site/docs/reference/rate-limits/index.md
  packages/@okta/vuepress-site/docs/reference/rl-dashboard/index.md
Labels: docs release

#3505 Remove EA banner for pkce_required
  packages/@okta/vuepress-site/docs/reference/api/apps/index.md
Labels: docs release

#3491 Custom authenticator main OKTA-508649
  packages/@okta/vuepress-site/.vuepress/public/docs/api/postman/authenticators.json
  packages/@okta/vuepress-site/docs/guides/authenticators-custom-authenticator/index.md
  packages/@okta/vuepress-site/docs/guides/authenticators-custom-authenticator/main/android/appreq.md
  packages/@okta/vuepress-site/docs/guides/authenticators-custom-authenticator/main/android/customauthenticatoradminconsole.md
  packages/@okta/vuepress-site/docs/guides/authenticators-custom-authenticator/main/android/mobilesdk.md
  packages/@okta/vuepress-site/docs/guides/authenticators-custom-authenticator/main/android/notifserviceadminconsole.md
  packages/@okta/vuepress-site/docs/guides/authenticators-custom-authenticator/main/android/notifservicelink.md
  packages/@okta/vuepress-site/docs/guides/authenticators-custom-authenticator/main/android/notifservicelong.md
  packages/@okta/vuepress-site/docs/guides/authenticators-custom-authenticator/main/android/notifserviceshort.md
  packages/@okta/vuepress-site/docs/guides/authenticators-custom-authenticator/main/android/samplecode.md
  packages/@okta/vuepress-site/docs/guides/authenticators-custom-authenticator/main/android/sdksteps.md
  packages/@okta/vuepress-site/docs/guides/authenticators-custom-authenticator/main/index.md
  packages/@okta/vuepress-site/docs/guides/implement-oauth-for-okta/main/index.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/reference/api/authenticators-admin/index.md
  packages/@okta/vuepress-site/docs/reference/api/push-providers/index.md
  packages/@okta/vuepress-site/docs/reference/postman-collections/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release, final review complete

#3428 Public API Doc updates for Delivered roles
  packages/@okta/vuepress-site/docs/concepts/role-assignment/index.md
  packages/@okta/vuepress-site/docs/reference/api/roles/index.md
Labels: docs release

#3525 Add Account Unlock email template to table in EML overview guide
  packages/@okta/vuepress-site/docs/guides/email-magic-links-overview/main/index.md
Labels: docs release

#3526 Add Password Reset By Admin template not allowed note
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-custom-pwd-recovery-mfa/main/index.md
Labels: docs release

#3530 Add template to VTL table
  packages/@okta/vuepress-site/docs/guides/custom-email/main/index.md
Labels: docs release

#3537 OKTA-497465 update MFA to authenticator enrollment policy for OIE
  packages/@okta/vuepress-site/docs/concepts/policies/index.md
  packages/@okta/vuepress-site/docs/guides/build-custom-ui-mobile/main/index.md
  packages/@okta/vuepress-site/docs/guides/oie-upgrade-mfa-enroll-policy/index.md
  packages/@okta/vuepress-site/docs/guides/oie-upgrade-mfa-enroll-policy/main/index.md
  packages/@okta/vuepress-site/docs/guides/oie-upgrade-overview/main/index.md
  packages/@okta/vuepress-site/docs/reference/api/authn/index.md
  packages/@okta/vuepress-site/docs/reference/api/policy/index.md
  packages/@okta/vuepress-site/docs/reference/api/users/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release, final review complete

#3553 OKTA-524709 Fix mistake in EML fallback to otp diagram
  packages/@okta/vuepress-site/.vuepress/public/img/advanced-use-cases/email-magic-links-overview-fallback-to-otp.png
Labels: bug

#3550 Release branch 2022.08.2
  packages/@okta/vuepress-site/docs/concepts/policies/index.md
  packages/@okta/vuepress-site/docs/guides/build-custom-ui-mobile/main/index.md
  packages/@okta/vuepress-site/docs/guides/oie-upgrade-mfa-enroll-policy/index.md
  packages/@okta/vuepress-site/docs/guides/oie-upgrade-mfa-enroll-policy/main/index.md
  packages/@okta/vuepress-site/docs/guides/oie-upgrade-overview/main/index.md
  packages/@okta/vuepress-site/docs/reference/api/authn/index.md
  packages/@okta/vuepress-site/docs/reference/api/policy/index.md
  packages/@okta/vuepress-site/docs/reference/api/users/index.md
  packages/@okta/vuepress-site/docs/release-notes/2022-okta-identity-engine/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: final review complete

#3552 add query parameters for `expand`
  packages/@okta/vuepress-site/docs/reference/api/brands/index.md
Labels: docs release

#3544 OKTA-397099 saml assertion inline hook guide
  packages/@okta/vuepress-site/.vuepress/public/img/hooks/hook-call-steps.png
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/guides/saml-inline-hook/index.md
  packages/@okta/vuepress-site/docs/guides/saml-inline-hook/main/index.md
  packages/@okta/vuepress-site/docs/reference/saml-hook/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: final review complete

#3483 OKTA-512511 Lifecycle management for OIN overview
  packages/@okta/vuepress-site/.vuepress/public/img/icons/WEB_Icon_Platform_Workflows_40x40.svg
  packages/@okta/vuepress-site/docs/guides/oin-lifecycle-mgmt-overview/index.md
Labels: final review complete

#3561 Add new mobile phone event limitation
  packages/@okta/vuepress-site/docs/guides/ie-limitations/main/index.md
Labels: final review complete

#3566 Update variables table in custom error page guide
  packages/@okta/vuepress-site/docs/guides/custom-error-pages/main/index.md
Labels: final review complete

#3558 Update Expression Language documentation with allowed group rules expressions
  packages/@okta/vuepress-site/docs/reference/okta-expression-language/index.md
Labels: final review complete

#3572 Update for new Mobile SDKs: Part 1 of 4
  packages/@okta/vuepress-site/code/android/index.md
  packages/@okta/vuepress-site/code/ios/index.md
  packages/@okta/vuepress-site/code/ios/quickstart-appauth-swift/index.md
  packages/@okta/vuepress-site/docs/concepts/api-access-management/index.md
  packages/@okta/vuepress-site/docs/concepts/redirect-vs-embedded/index.md
  packages/@okta/vuepress-site/docs/guides/build-custom-ui-mobile/main/android/samplecode.md
  packages/@okta/vuepress-site/docs/guides/build-custom-ui-mobile/main/ios/samplecode.md
  packages/@okta/vuepress-site/docs/guides/embedded-siw/main/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-common-download-setup-app/main/android/sdkforyourapp.md
  packages/@okta/vuepress-site/docs/guides/shared-sso-android-ios/main/android/createsecondapp.md
  packages/@okta/vuepress-site/docs/guides/shared-sso-android-ios/main/android/samplecode.md
  packages/@okta/vuepress-site/docs/guides/shared-sso-android-ios/main/index.md
  packages/@okta/vuepress-site/docs/guides/shared-sso-android-ios/main/ios/samplecode.md
  packages/@okta/vuepress-site/docs/guides/sign-users-out/main/android/samplecode.md
  packages/@okta/vuepress-site/docs/guides/sign-users-out/main/ios/samplecode.md
  packages/@okta/vuepress-site/docs/guides/unlock-mobile-app-with-biometrics/main/android/samplecode.md
  packages/@okta/vuepress-site/docs/guides/unlock-mobile-app-with-biometrics/main/ios/samplecode.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: final edit ready

#3536 Update docs to include Policy Cloning API
  packages/@okta/vuepress-site/docs/reference/api/policy/index.md
  packages/@okta/vuepress-site/docs/reference/postman-collections/index.md
Labels: docs release, final review complete

#3547 updates for new default label content
  packages/@okta/vuepress-site/docs/concepts/auth-servers/index.md
  packages/@okta/vuepress-site/docs/guides/customize-authz-server/main/index.md
  packages/@okta/vuepress-site/docs/reference/api/authorization-servers/index.md
Labels: docs release

#3555 Step-up authentication using ACR values
  packages/@okta/vuepress-site/.vuepress/public/img/auth/Step-up-authentication-using-acr-values-flow.png
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/guides/step-up-authentication/index.md
  packages/@okta/vuepress-site/docs/guides/step-up-authentication/main/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release

#3574 OKTA-511103 Add image logo updates: SVG support and 200x200 dimension
  packages/@okta/vuepress-site/docs/reference/api/apps/index.md
Labels: docs release

#3564 add acr_values in /authorize and acr claim in tokens
  packages/@okta/vuepress-site/docs/reference/api/oidc/index.md
Labels: docs release

#3586 Update custom email guide w/ new code editor
  packages/@okta/vuepress-site/.vuepress/public/img/saml/spring-security-saml-groups-as-authorities.png
  packages/@okta/vuepress-site/.vuepress/public/img/saml/spring-security-saml-login.png
  packages/@okta/vuepress-site/.vuepress/public/img/saml/spring-security-saml-logout-success.png
  packages/@okta/vuepress-site/.vuepress/public/img/spring-security-saml-assert.png
  packages/@okta/vuepress-site/.vuepress/public/img/spring-security-saml-build.png
  packages/@okta/vuepress-site/.vuepress/public/img/spring-security-saml-intro.png
  packages/@okta/vuepress-site/.vuepress/public/img/spring-security-saml-okta-assign-people-to-application.png
  packages/@okta/vuepress-site/.vuepress/public/img/spring-security-saml-okta-chiclet.png
  packages/@okta/vuepress-site/.vuepress/public/img/spring-security-saml-okta-confirm-assignments.png
  packages/@okta/vuepress-site/.vuepress/public/img/spring-security-saml-okta-general-settings.png
  packages/@okta/vuepress-site/.vuepress/public/img/spring-security-saml-selection.png
  packages/@okta/vuepress-site/.vuepress/public/img/spring-security-saml-settings.png
  packages/@okta/vuepress-site/code/java/spring_security_saml/index.md
  packages/@okta/vuepress-site/docs/guides/custom-email/main/index.md
Labels: docs release
