Repository okta/okta-developer-docs, pull requests merged in 2023-08, with the labels that each got.

#4289 OKTA-620015 Update "Upgrade SAML Certs" guide
  packages/@okta/vuepress-site/.vuepress/public/img/updating-saml-certs/signing-certificates-ui.png
  packages/@okta/vuepress-site/docs/guides/updating-saml-cert/main/index.md
Labels: docs update

#4301 Remove EA Flag from okta.workflows.read
  packages/@okta/vuepress-site/docs/concepts/role-assignment/index.md
  packages/@okta/vuepress-site/docs/reference/api/roles/index.md
Labels: docs release

#4298 OKTA-593826 - Remove EA tags for access policy simulation
  packages/@okta/vuepress-site/docs/guides/policy-simulation/main/index.md
  packages/@okta/vuepress-site/docs/reference/api/policy/index.md
Labels: docs release

#4258 Org settings API: Third-Party Admin setting endpoints
  packages/@okta/vuepress-site/docs/reference/api/org/index.md
Labels: docs release

#4304 Add device permissions and device resource to documentation
  packages/@okta/vuepress-site/docs/concepts/role-assignment/index.md
  packages/@okta/vuepress-site/docs/reference/api/roles/index.md
Labels: docs release

#4313 doc update amr
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/oktatookta/appatidp.md
Labels: docs release

#4326 OKTA-635594 : Corrected "302 redirect" steps in three flows
  packages/@okta/vuepress-site/.vuepress/public/img/authorization/oauth-auth-code-grant-flow.png
  packages/@okta/vuepress-site/.vuepress/public/img/authorization/oauth-auth-code-pkce-grant-flow.png
  packages/@okta/vuepress-site/.vuepress/public/img/authorization/oauth-implicit-grant-flow.png
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/authcode/flow-diagram.md
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/authcodepkce/flow-diagram.md
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/implicit/flow-diagram.md
Labels: docs update

#4315 Add CLIENT_AS_PRINCIPAL instructions to OAuth for Okta service app guide
  packages/@okta/vuepress-site/docs/guides/implement-oauth-for-okta-serviceapp/main/index.md
Labels: final review complete

#4293 OKTA-631075 Add CLIENT_AS_PRINCIPAL instructions for OAuth Org2Org configuration
  packages/@okta/vuepress-site/docs/guides/secure-oauth-between-orgs/main/index.md
Labels: final review complete

#4349 OKTA-641390 Release notes for 2023.08.3
  packages/@okta/vuepress-site/docs/release-notes/2023-okta-identity-engine/index.md
  packages/@okta/vuepress-site/docs/release-notes/2023/index.md
Labels: docs release
