Repository okta/okta-developer-docs, pull requests merged in 2023-01, with the labels that each got.

#3865 OKTA-550602 Remove embedded sdk limitations page
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-email-template-remove-link.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-sign-passwordless-screen-email-signin.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-sign-passwordless-seq.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-simple-self-serv-seq-enroll-verify.png
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-limitations/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-limitations/main/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-pwd-recovery-mfa/main/android/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-pwd-recovery-mfa/main/java/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-self-reg/main/android/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-self-reg/main/aspnet/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-self-reg/main/java/integrationsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-sign-in-pwd-email/main/android/integrationsteps.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: Identity Engine, final review complete

#3870 Updating note
  packages/@okta/vuepress-site/docs/reference/api/apps/index.md
Labels: docs release

#3838 Added option field to scopes API
  packages/@okta/vuepress-site/docs/reference/api/authorization-servers/index.md
Labels: docs release

#3767 OKTA-540378: Updating AWS Region list for AWS EventBridge
  packages/@okta/vuepress-site/docs/reference/api/log-streaming/index.md
  packages/@okta/vuepress-site/docs/reference/api/schemas/index.md
Labels: docs release

#3746 OKTA-549236: Updating dev docs to reflect hiding sensitive data in Splunk token field
  packages/@okta/vuepress-site/docs/reference/api/log-streaming/index.md
  packages/@okta/vuepress-site/docs/reference/api/schemas/index.md
Labels: docs release

#3827 OKTA-537418 ISV submission prerequisite
  packages/@okta/vuepress-site/.vuepress/public/img/oin/oin-logo-guide.png
  packages/@okta/vuepress-site/.vuepress/public/img/oin/oin-logo-size-guide.png
  packages/@okta/vuepress-site/conductor.yml
  packages/@okta/vuepress-site/docs/guides/build-api-integration/main/index.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/guides/submit-app-prereq/index.md
  packages/@okta/vuepress-site/docs/guides/submit-app-prereq/main/index.md
  packages/@okta/vuepress-site/docs/guides/submit-app/main/index.md
  packages/@okta/vuepress-site/docs/guides/submit-app/main/openidconnect/protocol-name.md
  packages/@okta/vuepress-site/docs/guides/submit-app/main/openidconnect/submit.md
  packages/@okta/vuepress-site/docs/guides/submit-app/main/saml2/protocol-name.md
  packages/@okta/vuepress-site/docs/guides/submit-app/main/saml2/submit.md
  packages/@okta/vuepress-site/docs/guides/submit-app/main/scim/protocol-name.md
  packages/@okta/vuepress-site/docs/guides/submit-app/main/scim/submit.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: final review complete

#3878 OKTA-566108 Add rate limit note for resend request in Activate factor section
  packages/@okta/vuepress-site/docs/reference/api/factors/index.md
Labels: docs release
