Repository okta/okta-developer-docs, pull requests merged in 2023-05, with the labels that each got.

#4122 Okta-516673: Add okta cli advisories
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/index.md
  packages/@okta/vuepress-site/docs/guides/sign-in-to-spa-authjs/main/index.md
  packages/@okta/vuepress-site/docs/guides/sign-into-mobile-app-redirect/main/index.md
  packages/@okta/vuepress-site/docs/guides/sign-into-spa-redirect/main/index.md
  packages/@okta/vuepress-site/docs/guides/sign-into-web-app-redirect/main/index.md
Labels: docs update

#4043 OKTA-592141 Updates to Event Hook Mgmt API for monthly
  packages/@okta/vuepress-site/docs/reference/api/event-hooks/index.md
Labels: docs release

#4067 OKTA-554534 Part 2 event hook filtering guide
  packages/@okta/vuepress-site/docs/guides/event-hook-filtering/index.md
  packages/@okta/vuepress-site/docs/guides/event-hook-filtering/main/index.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release, final review complete

#4126 OKTA-605248 Release Notes for 2023.04.3
  packages/@okta/vuepress-site/docs/release-notes/2023-okta-identity-engine/index.md
  packages/@okta/vuepress-site/docs/release-notes/2023/index.md
Labels: docs release

#4062 OKTA-554534 Updates to dev docs for event hook filtering
  packages/@okta/vuepress-site/docs/concepts/event-hooks/index.md
  packages/@okta/vuepress-site/docs/guides/event-hook-hookdeck/main/index.md
  packages/@okta/vuepress-site/docs/guides/event-hook-implementation/main/index.md
  packages/@okta/vuepress-site/docs/guides/event-hook-ngrok/main/index.md
  packages/@okta/vuepress-theme-prose/global-components/EventHookEANote.vue
  packages/@okta/vuepress-theme-prose/global-components/EventHookEANoteProcedure.vue
Labels: docs release

#4108 OKTA-519187: conditions api changes
  packages/@okta/vuepress-site/docs/reference/api/roles/index.md
Labels: docs release

#3829 OKTA-544755: Add client application as a member in Custom Role assignment operations
  packages/@okta/vuepress-site/docs/concepts/role-assignment/index.md
  packages/@okta/vuepress-site/docs/reference/api/roles/index.md
Labels: docs release

#4138 Roles API updates
  packages/@okta/vuepress-site/docs/concepts/role-assignment/index.md
  packages/@okta/vuepress-site/docs/reference/api/roles/index.md
Labels: docs release, final review complete

#4128 Multibrand GA updates
  packages/@okta/vuepress-site/docs/concepts/brands/index.md
  packages/@okta/vuepress-site/docs/guides/custom-email/main/index.md
  packages/@okta/vuepress-site/docs/guides/custom-error-pages/main/index.md
  packages/@okta/vuepress-site/docs/guides/custom-url-domain/main/index.md
  packages/@okta/vuepress-site/docs/guides/custom-widget/main/index.md
  packages/@okta/vuepress-site/docs/guides/oie-upgrade-sign-in-widget/main/index.md
Labels: docs release, final review complete

#4135 Update wording for password hooks
  packages/@okta/vuepress-site/docs/reference/api/users/index.md
Labels: docs release

#4125 Deprecate ASA content
  packages/@okta/vuepress-site/docs/reference/api/admin-notifications/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/attributes/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/audits/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/clients/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/entitlements/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/groups/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/introduction/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/projects/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/service-users/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/teams/index.md
  packages/@okta/vuepress-site/docs/reference/api/asa/users/index.md
  packages/@okta/vuepress-site/docs/reference/api/captchas/index.md
  packages/@okta/vuepress-site/docs/release-notes/2020/index.md
  packages/@okta/vuepress-site/docs/release-notes/2021-okta-identity-engine/index.md
  packages/@okta/vuepress-site/docs/release-notes/2021/index.md
  packages/@okta/vuepress-site/docs/release-notes/2022/index.md
Labels: docs release

#4132 OKTA-576923 Rate limit dashboard update
  packages/@okta/vuepress-site/.vuepress/public/img/rate-limits/rl_dashboard9.png
  packages/@okta/vuepress-site/docs/reference/rl-dashboard/index.md
Labels: docs release

#4130 OKTA-509724 Event hook filtering feature 2023.05.0
  packages/@okta/vuepress-site/docs/concepts/event-hooks/index.md
  packages/@okta/vuepress-site/docs/guides/event-hook-filtering/index.md
  packages/@okta/vuepress-site/docs/guides/event-hook-filtering/main/index.md
  packages/@okta/vuepress-site/docs/guides/event-hook-hookdeck/main/index.md
  packages/@okta/vuepress-site/docs/guides/event-hook-implementation/main/index.md
  packages/@okta/vuepress-site/docs/guides/event-hook-ngrok/main/index.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/reference/api/event-hooks/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
  packages/@okta/vuepress-theme-prose/global-components/EventHookEANote.vue
  packages/@okta/vuepress-theme-prose/global-components/EventHookEANoteProcedure.vue
Labels: docs release

#3842 OKTA-553793 Event hook health checking
  packages/@okta/vuepress-site/docs/concepts/event-hooks/index.md
Labels: docs release

#4114 add doc for identityStoreId
  packages/@okta/vuepress-site/docs/reference/api/apps/index.md
Labels: docs release

#4074 Notes for DA
  packages/@okta/vuepress-site/docs/concepts/redirect-vs-embedded/index.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-common-org-setup/main/index.md
Labels: docs release

#4047 unique refresh token ID for token inline hook
  packages/@okta/vuepress-site/docs/reference/token-hook/index.md
Labels: docs release

#4139 Upgraded prismjs to v1.29.0
  yarn.lock
Labels: enhancement

#4109 add AMR
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/oktatookta/appidpinokta.md
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/openidconnect/appidpinokta.md
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/saml2/appatidp.md
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/saml2/appidpinokta.md
Labels: docs release

#4095 add mapAMRClaims property to /idps API
  packages/@okta/vuepress-site/docs/reference/api/idps/index.md
Labels: docs release
