Repository okta/okta-developer-docs, pull requests merged in 2023-09, with the labels that each got.

#3791 API doc for perpetual account lockout prevention
  packages/@okta/vuepress-site/docs/reference/api/users/index.md
Labels: docs release

#4351 number challenge update
  packages/@okta/vuepress-site/.vuepress/public/img/authorization/oauth-mfaoob-grant-flow.png
  packages/@okta/vuepress-site/.vuepress/public/img/authorization/oauth-oob-grant-flow.png
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/mfaoob/flow-diagram.md
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/mfaoob/use-flow.md
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/oob/flow-diagram.md
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/oob/use-flow.md
Labels: docs release

#4359 MyAccount API: Removes notes about admin limitations
  packages/@okta/vuepress-site/docs/guides/configure-user-scoped-account-management/main/index.md
  packages/@okta/vuepress-site/docs/reference/api/myaccount/index.md
Labels: docs release, final review complete

#4369 Updates to OIE limitations for SSR updates
  packages/@okta/vuepress-site/docs/guides/ie-limitations/main/index.md
Labels: docs release

#4378 okta-646486 Update flow diagram for external IdP concept page
  packages/@okta/vuepress-site/.vuepress/public/img/auth/social_login_flow.png
  packages/@okta/vuepress-site/docs/concepts/identity-providers/index.md
Labels: docs update

#4379 OKTA-646488 Update images for deployment models concept page
  packages/@okta/vuepress-site/.vuepress/public/img/auth/embedded-auth-seq-flow.png
  packages/@okta/vuepress-site/.vuepress/public/img/auth/redirect-auth-seq-flow.png
  packages/@okta/vuepress-site/docs/concepts/redirect-vs-embedded/index.md
Labels: docs update

#4380 OKTA-646489 Update the flow diagram for the Native SSO guide
  packages/@okta/vuepress-site/.vuepress/public/img/sso/native_SSO_flow.png
  packages/@okta/vuepress-site/docs/guides/configure-native-sso/main/index.md
Labels: docs update

#4367 okta-645244 Correct prereqs for Terraform RefArch lab
  packages/@okta/vuepress-site/docs/reference/architecture-center/multiple-environments/lab/index.md
Labels: bug, docs update

#4385 OKTA-646496 Updated flow diagrams for Social IdP Sign in with SDK
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-dotnet-social-sign-in-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-go-social-sign-in-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-java-social-sign-in-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-nodejs-social-sign-in-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-go-use-case-social-idenitity-provider.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-social-sign-in-java.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-social-sign-in-nodejs.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-social-sign-in.png
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-sign-in-soc-idp/main/android/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-sign-in-soc-idp/main/aspnet/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-sign-in-soc-idp/main/go/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-sign-in-soc-idp/main/java/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-sign-in-soc-idp/main/nodejs/summaryofsteps.md
Labels: docs update

#4383 OKTA-646493 Redraw basic pwd recovery flow diagrams
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-dotnet-pwd-recovery-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-go-pwd-recovery-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-java-pwd-recovery-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-nodejs-pwd-recovery-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-go-use-case-pwd-recovery.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-pwd-recovery-java.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-pwd-recovery.png
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-pwd-recovery-mfa/main/android/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-pwd-recovery-mfa/main/aspnet/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-pwd-recovery-mfa/main/go/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-pwd-recovery-mfa/main/java/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-pwd-recovery-mfa/main/nodejs/summaryofsteps.md
Labels: docs update

#4394 OKTA-646498 Update flow diagrams for sign-in with widget guide
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-go-use-case-basic-sign-on.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-use-case-sign-in-java.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-use-case-sign-in-nodejs.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-use-case-sign-in.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-widget-dotnet-basic-sign-in-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-widget-go-basic-sign-in-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-widget-java-basic-sign-in-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-widget-nodejs-basic-sign-in-flow-diagram.png
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-case-basic-sign-in/main/aspnet/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-case-basic-sign-in/main/go/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-case-basic-sign-in/main/java/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-case-basic-sign-in/main/nodejs/summaryofsteps.md
Labels: docs update

#4395 okta-646500 Update flow diagrams for load widget guide
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-go-use-case-load.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-use-case-social-sign-in-java.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-use-case-social-sign-in-nodejs.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-widget-use-case-social-sign-in.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-widget-dotnet-load-widget-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-widget-go-load-widget-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-widget-java-load-widget-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-widget-nodejs-load-widget-flow-diagram.png
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-case-load/main/aspnet/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-case-load/main/go/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-case-load/main/java/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-widget-use-case-load/main/nodejs/summaryofsteps.md
Labels: docs update

#4397 Release 2023.09.1
  packages/@okta/vuepress-site/docs/release-notes/2023-okta-identity-engine/index.md
  packages/@okta/vuepress-site/docs/release-notes/2023/index.md
Labels: final review complete

#4403 Okta 646495 Update sign in pwd phone guide flow diagrams
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-dotnet-sign-in-pwd-phone-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-go-sign-in-pwd-phone-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-java-sign-in-pwd-phone-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-java-sign-in-pwd-phone-voice-alt-step-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-nodejs-sign-in-pwd-phone-flow-diagram.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-go-use-case-sign-on-phone-factor.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-sign-in-pwd-phone-nodejs-seq-1.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-sign-in-pwd-phone-nodejs-seq-2.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-sign-in-pwd-phone-seq-1-java.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-sign-in-pwd-phone-seq-1.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-sign-in-pwd-phone-seq-2-java.png
  packages/@okta/vuepress-site/.vuepress/public/img/oie-embedded-sdk/oie-embedded-sdk-use-case-sign-in-pwd-phone-seq-2.png
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-sign-in-pwd-phone/main/android/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-sign-in-pwd-phone/main/aspnet/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-sign-in-pwd-phone/main/go/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-sign-in-pwd-phone/main/java/summaryofsteps.md
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-sign-in-pwd-phone/main/nodejs/summaryofsteps.md
Labels: docs update

#4412 release notes entries
  packages/@okta/vuepress-site/docs/release-notes/2023-okta-identity-engine/index.md
Labels: docs release

#4408 Sign-In Widget (third gen) customization guide
  packages/@okta/vuepress-site/docs/concepts/brands/index.md
  packages/@okta/vuepress-site/docs/guides/custom-url-domain/main/index.md
  packages/@okta/vuepress-site/docs/guides/custom-widget-gen3/index.md
  packages/@okta/vuepress-site/docs/guides/custom-widget-gen3/main/index.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/guides/oie-upgrade-sign-in-widget/main/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release, Work In Progress
