Repository okta/okta-developer-docs, pull requests merged in 2023-06, with the labels that each got.

#4188 Multibrand GA Prod
  packages/@okta/vuepress-site/docs/guides/custom-email/main/index.md
  packages/@okta/vuepress-site/docs/guides/custom-error-pages/main/index.md
  packages/@okta/vuepress-site/docs/guides/custom-url-domain/main/index.md
  packages/@okta/vuepress-site/docs/guides/custom-widget/main/index.md
  packages/@okta/vuepress-site/docs/guides/oie-upgrade-sign-in-widget/main/index.md
Labels: docs release, final review complete

#4184 OKTA-604179 Revert doc action for OAUTH2_CIBA and CUSTOM_PUSH_AUTHENTICATOR
  packages/@okta/vuepress-site/docs/reference/api/authenticators-admin/index.md
  packages/@okta/vuepress-site/docs/reference/api/oidc/index.md
  packages/@okta/vuepress-site/docs/reference/api/push-providers/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release

#4170 OKTA-612014 Simulation Policy API Doc
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/guides/policy-simulation/index.md
  packages/@okta/vuepress-site/docs/guides/policy-simulation/main/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release

#4105 OKTA-594692 policy simulation api documentation
  packages/@okta/vuepress-site/docs/reference/api/policy/index.md
Labels: docs release

#4084 OKTA-596621 Add SSPR primary factor and authenticator key constraints to Password Policy
  packages/@okta/vuepress-site/docs/reference/api/policy/index.md
Labels: docs release

#3160 add python protect your api QS
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/index.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/python/configcors.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/python/configmid.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/python/createproject.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/python/createroute.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/python/independ.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/python/reqautheverything.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/python/reqauthspecific.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/python/request.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/python/samplecode.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/python/specificlinks.md
  packages/@okta/vuepress-site/docs/guides/protect-your-api/main/python/testapp.md
  packages/@okta/vuepress-site/docs/guides/quickstart/main/index.md
  packages/@okta/vuepress-site/index.md
Labels: final review complete

#4206 OKTA-612241 Move Classic SSR guide to Archive area.
  packages/@okta/vuepress-site/conductor.yml
  packages/@okta/vuepress-site/docs/guides/archive-configure-signon-policy/main/index.md
  packages/@okta/vuepress-site/docs/guides/archive-overview/main/index.md
  packages/@okta/vuepress-site/docs/guides/archive-registration-inline-hook/main/index.md
  packages/@okta/vuepress-site/docs/guides/archive-set-up-self-service-registration/main/index.md
  packages/@okta/vuepress-site/docs/guides/deployment-checklist/main/index.md
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/authcode/flow-diagram.md
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/authcode/nextsteps.md
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/authcodepkce/flow-diagram.md
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/authcodepkce/nextsteps.md
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/implicit/flow-diagram.md
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/implicit/nextsteps.md
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/ropassword/nextsteps.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/guides/set-up-self-service-registration/index.md
  packages/@okta/vuepress-site/docs/guides/set-up-self-service-registration/main/index.md
  packages/@okta/vuepress-site/docs/guides/sign-users-out/main/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs update

#4220 OKTA-530037 Updated screenshots and text for new hookdeck UI
  packages/@okta/vuepress-site/.vuepress/public/img/hooks/hookdeck-and-event-hooks-session.png
  packages/@okta/vuepress-site/.vuepress/public/img/hooks/hookdeck-application-console-output.png
  packages/@okta/vuepress-site/.vuepress/public/img/hooks/hookdeck-body-detail.png
  packages/@okta/vuepress-site/.vuepress/public/img/hooks/hookdeck-body-target-property.png
  packages/@okta/vuepress-site/.vuepress/public/img/hooks/hookdeck-dashboard-small.png
  packages/@okta/vuepress-site/.vuepress/public/img/hooks/hookdeck-dashboard.png
  packages/@okta/vuepress-site/.vuepress/public/img/hooks/hookdeck-dashboardURL.png
  packages/@okta/vuepress-site/.vuepress/public/img/hooks/hookdeck-event-hook-body.png
  packages/@okta/vuepress-site/.vuepress/public/img/hooks/hookdeck-terminal-output.png
  packages/@okta/vuepress-site/.vuepress/public/img/hooks/hookdeck-webhookURL.png
  packages/@okta/vuepress-site/docs/guides/event-hook-hookdeck/main/index.md
  packages/@okta/vuepress-site/docs/guides/event-hook-hookdeck/main/nodejs/sample-app.md
Labels: docs update
