Repository okta/okta-developer-docs, pull requests merged in 2023-03, with the labels that each got.

#3991 RefArch Quick Fix March 01
  packages/@okta/vuepress-site/docs/reference/architecture-tutorials/index.md
  packages/@okta/vuepress-site/docs/reference/architecture-tutorials/mmod/lab-1-configure-terraform-cloud/index.md
  packages/@okta/vuepress-site/docs/reference/architecture-tutorials/mmod/lab-4-deploy-changes-to-production/index.md
  packages/@okta/vuepress-site/docs/reference/architecture-tutorials/mmod/lab-6-synchronize-environments-daily/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs update

#4004 removing ea flag
  packages/@okta/vuepress-site/docs/guides/configure-ciba/main/index.md
  packages/@okta/vuepress-site/docs/reference/api/apps/index.md
  packages/@okta/vuepress-site/docs/reference/api/oidc/index.md
Labels: docs release

#4001 Removing EA flags for OAuth for Inline Hooks GA
  packages/@okta/vuepress-site/docs/concepts/inline-hooks/index.md
  packages/@okta/vuepress-site/docs/guides/common-hook-set-up-steps/main/index.md
  packages/@okta/vuepress-site/docs/reference/api/hook-keys/index.md
  packages/@okta/vuepress-site/docs/reference/api/inline-hooks/index.md
Labels: docs release

#3998 Custom auth guide updates
  packages/@okta/vuepress-site/docs/guides/authenticators-custom-authenticator/main/android/jwtbearernote.md
  packages/@okta/vuepress-site/docs/guides/authenticators-custom-authenticator/main/android/sdksteps.md
  packages/@okta/vuepress-site/docs/guides/authenticators-custom-authenticator/main/index.md
  packages/@okta/vuepress-site/docs/guides/authenticators-custom-authenticator/main/ios/jwtbearernote.md
  packages/@okta/vuepress-site/docs/guides/authenticators-custom-authenticator/main/ios/sdksteps.md
Labels: docs release

#3992 OKTA-581814 Update to Event Hook rate limits
  packages/@okta/vuepress-site/docs/concepts/event-hooks/index.md
  packages/@okta/vuepress-site/docs/reference/hooks-best-practices/index.md
Labels: docs release

#3986 ga granular consent doc
  packages/@okta/vuepress-site/docs/guides/request-user-consent/main/index.md
  packages/@okta/vuepress-site/docs/reference/api/authorization-servers/index.md
Labels: docs release

#3984 OKTA-575227 Add Redocly API Service Integrations API link
  packages/@okta/vuepress-site/docs/reference/index.md
Labels: docs release

#3985 OKTA-581255 Add honorForceAuthn attribute extension for SAML 2.0 apps
  packages/@okta/vuepress-site/docs/reference/api/apps/index.md
Labels: docs release

#3900 OKTA-567519 Configurable Rate Limits for OAuth 2.0 Apps
  packages/@okta/vuepress-site/.vuepress/public/img/rate-limits/rl_usage_over_time-bar-dropdown.png
  packages/@okta/vuepress-site/docs/guides/implement-oauth-for-okta-serviceapp/main/index.md
  packages/@okta/vuepress-site/docs/guides/implement-oauth-for-okta/main/index.md
  packages/@okta/vuepress-site/docs/reference/rl-dashboard/index.md
Labels: docs release

#4021 Multibrand and emails note
  packages/@okta/vuepress-site/docs/concepts/brands/index.md
  packages/@okta/vuepress-site/docs/guides/custom-email/main/index.md
Labels: final review complete

#4023 Demonstrating Proof-of-Possession
  packages/@okta/vuepress-site/.vuepress/public/img/authorization/Dpopflow.png
  packages/@okta/vuepress-site/docs/guides/dpop/index.md
  packages/@okta/vuepress-site/docs/guides/dpop/main/index.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release

#4002 Update apps api and .well-known api for DPoP
  packages/@okta/vuepress-site/docs/reference/api/apps/index.md
  packages/@okta/vuepress-site/docs/reference/api/oidc/index.md
Labels: docs release

#4039 Make auth_time be a reserved claim both for access token and ID token
  packages/@okta/vuepress-site/docs/reference/token-hook/index.md
Labels: docs release

#4056 OKTA-495057 Add navbar links to code\aspnet and code\blazor
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: bug

#4055 Added note to aaguid object
  packages/@okta/vuepress-site/docs/reference/api/authenticators-admin/index.md
Labels: docs release

#4049 OKTA-571051 Add new SAML customer config doc examples
  packages/@okta/vuepress-site/docs/guides/submit-app-prereq/main/index.md
  packages/@okta/vuepress-site/docs/guides/submit-app/main/saml2/submit.md
Labels: final review complete
