Repository okta/okta-developer-docs, pull requests merged in 2023-02, with the labels that each got.

#3920 OKTA-569292 Backport Authenticator Methods endpoint
  packages/@okta/vuepress-site/docs/reference/api/authenticators-admin/index.md
Labels: final review complete

#3731 OKTA-543013 Add Login.gov social IdP
  packages/@okta/vuepress-site/.vuepress/public/img/idp-logos/login-gov-logo.svg
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/index.md
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/oktatookta/appatidp.md
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/openidconnect/appatidp.md
  packages/@okta/vuepress-site/docs/guides/add-logingov-idp/index.md
  packages/@okta/vuepress-site/docs/guides/add-logingov-idp/main/index.md
  packages/@okta/vuepress-site/docs/guides/identity-providers/index.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/reference/api/idps/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release, final review complete

#3812 OKTA-544449: Adding support for Splunk Cloud edition
  packages/@okta/vuepress-site/docs/reference/api/log-streaming/index.md
  packages/@okta/vuepress-site/docs/reference/api/schemas/index.md
Labels: docs release

#3937 OKTA-573094: Removing unsupported regions
  packages/@okta/vuepress-site/docs/reference/api/log-streaming/index.md
  packages/@okta/vuepress-site/docs/reference/api/schemas/index.md
Labels: docs release

#3898 OKTA-567446 Add authenticators.constraints.aaguidGroups to MFA_ENROLL in Policy API
  packages/@okta/vuepress-site/docs/reference/api/policy/index.md
Labels: docs release

#3921 OKTA-571620 Add configuredAttributeStatements SAML property to Apps API
  packages/@okta/vuepress-site/docs/reference/api/apps/index.md
Labels: docs release

#3901 OKTA-567644 API updates for X509_BASED_AUTHENTICATOR
  packages/@okta/vuepress-site/docs/reference/api/idps/index.md
Labels: docs release

#3938 OKTA-567446 Add settings.aaguidGroups to the Authenticator methods endpoint
  packages/@okta/vuepress-site/docs/reference/api/authenticators-admin/index.md
Labels: docs release

#3951 Multibrand branch
  packages/@okta/vuepress-site/conductor.yml
  packages/@okta/vuepress-site/docs/concepts/brands/index.md
  packages/@okta/vuepress-site/docs/guides/custom-email/main/index.md
  packages/@okta/vuepress-site/docs/guides/custom-error-pages/main/index.md
  packages/@okta/vuepress-site/docs/guides/custom-url-domain/main/index.md
  packages/@okta/vuepress-site/docs/guides/custom-widget/main/index.md
  packages/@okta/vuepress-site/docs/guides/customize-themes/index.md
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/authcode/nextsteps.md
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/authcodepkce/nextsteps.md
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/implicit/nextsteps.md
  packages/@okta/vuepress-site/docs/guides/implement-grant-type/main/ropassword/nextsteps.md
  packages/@okta/vuepress-site/docs/release-notes/2021/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
  yarn.lock
Labels: docs release, final review complete

#3948 Update index.md
  packages/@okta/vuepress-site/docs/reference/api/factors/index.md
Labels: docs release

#3946 On-Behalf-Of Token Exchange
  packages/@okta/vuepress-site/.vuepress/public/img/auth/on-behalf-of-token-exchange-flow.png
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/guides/set-up-self-service-registration/main/index.md
  packages/@okta/vuepress-site/docs/guides/set-up-token-exchange/index.md
  packages/@okta/vuepress-site/docs/guides/set-up-token-exchange/main/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release
