Repository okta/okta-developer-docs, pull requests merged in 2023-04, with the labels that each got.

#4075 OKTA-594103: All Admins API doc
  packages/@okta/vuepress-site/docs/guides/sign-into-web-app-redirect/main/python/addconfigpkg.md
  packages/@okta/vuepress-site/docs/guides/social-login/main/apple/idpaccount.md
  packages/@okta/vuepress-site/docs/guides/social-login/main/facebook/idpaccount.md
  packages/@okta/vuepress-site/docs/guides/social-login/main/google/idpaccount.md
  packages/@okta/vuepress-site/docs/guides/social-login/main/linkedin/idpaccount.md
  packages/@okta/vuepress-site/docs/guides/social-login/main/microsoft/idpaccount.md
  packages/@okta/vuepress-site/docs/reference/api/roles/index.md
Labels: docs release

#4073 OKTA-577514 Remove EA flag and note from API Service Integrations, and update link
  packages/@okta/vuepress-site/docs/guides/build-api-integration/main/index.md
  packages/@okta/vuepress-site/docs/guides/oin-api-service-overview/index.md
Labels: docs release

#4065 service app note
  packages/@okta/vuepress-site/docs/guides/dpop/main/index.md
Labels: docs release

#4061 update character length
  packages/@okta/vuepress-site/docs/guides/refresh-tokens/main/index.md
Labels: docs release

#4059 Add 3rd gen SIW content
  packages/@okta/vuepress-site/docs/concepts/brands/index.md
  packages/@okta/vuepress-site/docs/guides/custom-url-domain/main/index.md
  packages/@okta/vuepress-site/docs/guides/oie-upgrade-sign-in-widget/main/index.md
Labels: docs release, final review complete

#4038 OKTA-589035 - Update Dynamic Scale with new endpoint
  packages/@okta/vuepress-site/docs/reference/rl-dynamic-scale/index.md
Labels: docs release

#3980 OKTA-577531 Auth JS redirect guide
  packages/@okta/vuepress-site/docs/guides/auth-js-redirect/index.md
  packages/@okta/vuepress-site/docs/guides/auth-js-redirect/main/index.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: final edit ready

#4081 OKTA-595738 Remove the ability to select Apps for Good in the OIN prereq doc
  packages/@okta/vuepress-site/docs/guides/submit-app-prereq/main/index.md
Labels: docs release

#4089 OKTA-481537 Updated classic policy names to OIE names
  packages/@okta/vuepress-site/docs/guides/oie-embedded-sdk-use-case-self-reg/main/index.md
  packages/@okta/vuepress-site/docs/guides/sampleapp-oie-redirectauth/main/index.md
Labels: stylefix
