Repository okta/okta-developer-docs, pull requests merged in 2025-08, with the labels that each got.

#5498 Adds landing page for Journeys & First Journey
  packages/@okta/vuepress-site/.vuepress/scripts/build-overview-pages.js
  packages/@okta/vuepress-site/docs/journeys/OCI-secure-your-first-web-app/index.md
  packages/@okta/vuepress-site/docs/journeys/OCI-secure-your-first-web-app/main/index.md
  packages/@okta/vuepress-site/docs/journeys/index.md
  packages/@okta/vuepress-theme-prose/components/Breadcrumb.vue
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
  packages/@okta/vuepress-theme-prose/mixins/SidebarItems.vue
  packages/@okta/vuepress-theme-prose/util/frameworks.js
  packages/@okta/vuepress-theme-prose/util/journeys.js
Labels: docs release

#5631 OKTA-981745: Update OAuth 2.0 flow changes
  packages/@okta/vuepress-site/docs/guides/build-sso-integration/main/openidconnect/prep.md
  packages/@okta/vuepress-site/docs/guides/implement-oauth-for-okta-serviceapp/main/index.md
Labels: docs release, Barbara

#5627 IDV SysLog updates
  packages/@okta/vuepress-site/docs/guides/idv-integration/main/index.md
Labels: docs release, Barbara

#5616 OKTA-948865: Enable Express Configuration (SCIM)
  packages/@okta/vuepress-site/.vuepress/public/img/oin/ec_configure_SCIM.png
  packages/@okta/vuepress-site/docs/guides/create-an-app-integration/main/OIDC/protocol-config.md
  packages/@okta/vuepress-site/docs/guides/create-an-app-integration/main/index.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/index.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/SCIM/actions-and-tenant-setting.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/SCIM/additional-info.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/SCIM/assign-client-grant.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/SCIM/assign-permission.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/SCIM/authenticate-cli.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/SCIM/create-client.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/SCIM/create-resource-server.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/SCIM/create-role.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/SCIM/notes.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/SCIM/protocol-name.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/SCIM/update-oin-submission.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/SCIM/verify-express-configuration.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/index.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/openidconnect/actions-and-tenant-setting.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/openidconnect/additional-info.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/openidconnect/assign-client-grant.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/openidconnect/assign-permission.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/openidconnect/authenticate-cli.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/openidconnect/create-client.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/openidconnect/create-resource-server.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/openidconnect/create-role.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/openidconnect/notes.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/openidconnect/protocol-name.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/openidconnect/update-oin-submission.md
  packages/@okta/vuepress-site/docs/guides/enable-express-configuration/main/openidconnect/verify-express-configuration.md
  packages/@okta/vuepress-site/docs/guides/express-configuration/main/index.md
Labels: docs release

#5614 sentence about having two active certs
  packages/@okta/vuepress-site/docs/guides/add-an-external-idp/main/saml2/appidpinokta.md
Labels: docs release, Barbara

#5588 OIDC Token Encryption Updates to Guides
  packages/@okta/vuepress-site/docs/guides/client-secret-rotation-key/index.md
  packages/@okta/vuepress-site/docs/guides/client-secret-rotation-key/main/index.md
  packages/@okta/vuepress-site/docs/guides/customize-authz-server/main/index.md
  packages/@okta/vuepress-site/docs/guides/implement-oauth-for-okta-serviceapp/main/index.md
  packages/@okta/vuepress-site/docs/guides/index.md
  packages/@okta/vuepress-site/docs/guides/key-management/index.md
  packages/@okta/vuepress-site/docs/guides/key-management/main/index.md
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: docs release

#5584 OKTA-834704: Create Universal Logout submission in OIN Wizard
  packages/@okta/vuepress-site/docs/guides/submit-oin-app/main/index.md
  packages/@okta/vuepress-site/docs/guides/submit-oin-app/main/openidconnect/test-instance.md
  packages/@okta/vuepress-site/docs/guides/submit-oin-app/main/openidconnect/universal-logout-properties.md
  packages/@okta/vuepress-site/docs/guides/submit-oin-app/main/saml2/test-instance.md
  packages/@okta/vuepress-site/docs/guides/submit-oin-app/main/saml2/universal-logout-properties.md
  packages/@okta/vuepress-site/docs/guides/submit-oin-app/main/scim/universal-logout-properties.md
  packages/@okta/vuepress-site/docs/guides/update-oin-app/main/index.md
  packages/@okta/vuepress-site/docs/guides/update-oin-app/main/openidconnect/edit-links.md
  packages/@okta/vuepress-site/docs/guides/update-oin-app/main/openidconnect/required-app-instances.md
  packages/@okta/vuepress-site/docs/guides/update-oin-app/main/openidconnect/submit-checks.md
  packages/@okta/vuepress-site/docs/guides/update-oin-app/main/openidconnect/test-instance.md
  packages/@okta/vuepress-site/docs/guides/update-oin-app/main/openidconnect/test-steps.md
  packages/@okta/vuepress-site/docs/guides/update-oin-app/main/saml2/edit-links.md
  packages/@okta/vuepress-site/docs/guides/update-oin-app/main/saml2/required-app-instances.md
  packages/@okta/vuepress-site/docs/guides/update-oin-app/main/saml2/submit-checks.md
  packages/@okta/vuepress-site/docs/guides/update-oin-app/main/saml2/test-instance.md
  packages/@okta/vuepress-site/docs/guides/update-oin-app/main/saml2/test-steps.md
  packages/@okta/vuepress-site/docs/guides/update-oin-app/main/scim/edit-links.md
  packages/@okta/vuepress-site/docs/guides/update-oin-app/main/scim/submit-checks.md
  packages/@okta/vuepress-site/docs/guides/update-oin-app/main/scim/test-instance.md
  packages/@okta/vuepress-site/docs/guides/update-oin-app/main/scim/test-steps.md
Labels: docs release, Barbara

#5634 Elvis operator update
  packages/@okta/vuepress-site/docs/reference/okta-expression-language/index.md
Labels: Barbara

#5640 fixing SIW title in nav bar
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: Barbara

#5647 OKTA-972687 OPA-Rotate now- is EA in Production
  packages/@okta/vuepress-site/docs/release-notes/2025-okta-privileged-access/index.md
Labels: Susan

#5623 Add new supported claims
  packages/@okta/vuepress-site/docs/guides/add-id-verification-idp/main/index.md
  packages/@okta/vuepress-site/docs/guides/idv-integration/main/index.md
Labels: docs release, Barbara

#5652 Navbar fix
  packages/@okta/vuepress-theme-prose/const/navbar.const.js
Labels: Susan

#5666 Release notes for 2025.08.3
  packages/@okta/vuepress-site/docs/release-notes/2025-okta-identity-engine/index.md
Labels: Susan

#5662 OKTA-946262: Add sign-out experience
  packages/@okta/vuepress-site/docs/guides/auth-js-redirect/main/index.md
Labels: Susan
